<section class="bg-ghetto-white p-3">
  <div class="container my-4">

    <!--Row-Start-->
    <div class="row">

      <!--Col-Start-->
      <div class="col-md-8">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <h3 class="font-weight-bold aussie-teal">
                  Rachel and Cortney Want to Start a Family and do this and that and move to the country
                </h3>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <small class="text-muted">Created February 07, 2017 – Ends July 23,2017</small>
              </div>
            </div>

            <div class="row my-3">
              <div class="col-md-12">
                <img class="img img-fluid" src="http://via.placeholder.com/600x220" />
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <button type="button" class="btn btn-facebook">
                  <i class="icofont icofont-social-facebook mr-2"></i>Share
                </button>
                <button type="button" class="btn btn-twitter">
                  <i class="icofont icofont-social-twitter mr-2"></i>Share
                </button>
                <button type="button" class="btn btn-primary">
                  <i class="icofont icofont-envelope mr-2"></i>Share
                </button>
              </div>
            </div>

            <div class="row my-4">
              <div class="col-md-12">
                <h3 class="font-weight-bold aussie-teal">Story</h3>
                <p>Hello everyone! As you know, starting a family can be expensive. Well, like most LGBTQ families,
                  having a baby is a little more complicated for us. In addition to finding the right sperm donor,
                  we have plenty of obsticles to overcome, all of which cost a bit of money and are not covered by our
                  insurance.
                </p>
                <p>
                  In lieu of wedding presents, we ask that you contribute to our “family starting fund.” Anything helps,
                  and we have listed some other wishlist items that would be useful if you would prefer not to gift
                  monetary contributions.
                </p>
              </div>
            </div>

            <div class="row my-3">
              <div class="col-md-12">
                <h3 class="font-weight-bold aussie-teal">Wishlist</h3>
                <ul>
                  <li>Item xyz</li>
                  <li>Item xyz</li>
                  <li>Item xyz</li>
                  <li>Item xyz</li>
                  <li>Item xyz</li>
                </ul>
              </div>
            </div>
            <div class="row my-3">
              <div class="col-md-12">
                <h3 class="font-weight-bold aussie-teal">Contributer Posts</h3>
                <p>No contributors yet</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--Col-End-->

      <!--Col-Start-->
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <p>asdgasdgasdgasdgasdgasdgasdgasdgasdg</p>
          </div>
        </div>
      </div>
      <!--Col-End-->

    </div>
    <!--Row-End-->
  </div>
</section>
