<section class="bg-ghetto-white p-3">
  <div class="container my-4" *ngIf="campaign" >

	<!--*ngIf="user.uid === campaign.owner"-->
    <div class="row" style="display: flex; flex-direction: row; width: 100%; padding: 0 0 0 10px; align-items: center" *ngIf="user && user.uid === campaign.owner.uid" >
	  <div style="flex: 2; padding: 0 0.5em 0 0; font-weight: bold"><h3>Host View</h3></div>
	  <div style="flex: 6">Status Bar</div>
	  <div routerLink="/mycampaigns/{{ campaign.id }}/edit" class="btn btn-default h-100 add font-14" style="flex: 1; padding: 0 0 0 0.5em; margin: 0">Edit</div>
    </div>
    <!--Row-Start-->
    <div class="row">

      <!--Col-Start-->
      <div class="col-lg-8 mb-3">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <h3 class="font-weight-bold aussie-teal">
                  {{ campaign.name }}
                </h3>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <small class="text-muted">Created {{ campaign.start | date }} – Ends {{ displayEnd }}</small>
              </div>
            </div>

            <div class="row my-3">
              <div class="col-md-12">
                <img class="img img-fluid" [src]="campaign.banner.url" />
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <button type="button" class="btn btn-facebook">
                  <i class="icofont icofont-social-facebook mr-2"></i>Share
                </button>
                <button type="button" class="btn btn-twitter">
                  <i class="icofont icofont-social-twitter mr-2"></i>Share
                </button>
                <button type="button" class="btn btn-primary">
                  <i class="icofont icofont-envelope mr-2"></i>Share
                </button>
              </div>
            </div>

            <div class="row my-4">
              <div class="col-md-12">
                <h3 class="font-weight-bold aussie-teal">Story</h3>
                {{ campaign.description }}
              </div>
            </div>

            <div class="row my-3">
              <div class="col-md-12">
                <h3 class="font-weight-bold aussie-teal">Wishlist</h3>
                <ul *ngIf="campaign.affiliate_links" >
                  <li *ngFor="let key of objectkeys(campaign.affiliate_links)" >{{ key }}: {{ campaign.affiliate_links[key] }}</li>
                </ul>
              </div>
            </div>
            <div class="row my-3">
              <div class="col-md-12">
                <h3 class="font-weight-bold aussie-teal">Contributer Posts</h3>
                <p>No contributors yet</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--Col-End-->

      <!--Col-Start-->
      <div *ngIf="campaign" class="col-lg-4 pay-widg">
        <app-payment-widget [campaign]="campaign" ></app-payment-widget>
      </div>
      <!--Col-End-->

    </div>
    <!--Row-End-->
  </div>
</section>
