<div style="width: 100%; height 100%; display: flex">
	<app-storage-uploader-dropzone [storeType]="type" >
		<div style="padding: 5em;">THIS TEXT SHOULD DISPLAY INSIDE THE DROPZONE</div>
	</app-storage-uploader-dropzone>
</div>


<!--
	<div (drop)="drop($event)" (dragover)="dragover($event)" style="flex: 10" >
		Drag and drop a file in here
	</div>
	<div style="flex: 1; display: flex; flex-direction: row;" *ngIf="uploadStatus > 0">
		<div>Upload Status: </div><div>{{ uploadStatus }}</div>
	</div>
-->