<div style="background-color:  #5e55a4; color: white; padding:16px;">
  <div class="container">
    <h2 class="banner-txt">Community Resources</h2>
    <p>Relevent, Educational, Factual Articles on LGBTQ+ Issues</p>
 </div>
</div>
<section class="bg-ghetto-white p-3">
  <div class="container my-5">
    <section>

    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <h3 class="font-weight-bold">General Pride Pocket News</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="card  mx-2 my-2">
                            <img src="http://via.placeholder.com/330x140" />
                            <div class="card-block">
                                <p class="text-muted font-10">September 15, 2017</p>
                                <h5 class="card-title font-weight-bold">Card title</h5>
                                <p class="card-text">Example info</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card mx-2 my-2">
                            <img src="http://via.placeholder.com/330x140" />
                            <div class="card-block">
                                <p class="text-muted font-10">September 15, 2017</p>
                                <h5 class="card-title font-weight-bold">Card title</h5>
                                <p class="card-text">Example info</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 mt-5">
                            <h3 class="font-weight-bold">LGBTQ+ Youth</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="card mx-2 my-2">
                            <img src="http://via.placeholder.com/330x140" />
                            <div class="card-block">
                                <p class="text-muted font-10">September 15, 2017</p>
                                <h5 class="card-title font-weight-bold">Card title</h5>
                                <p class="card-text">Example info</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="card mx-2 my-2">
                            <img src="http://via.placeholder.com/330x140" />
                            <div class="card-block">
                                <p class="text-muted font-10">September 15, 2017</p>
                                <h5 class="card-title font-weight-bold">Card title</h5>
                                <p class="card-text">Example info</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="card mx-2 my-2">
                            <img src="http://via.placeholder.com/330x140" />
                            <div class="card-block">
                                <p class="text-muted font-10">September 15, 2017</p>
                                <h5 class="card-title font-weight-bold">Card title</h5>
                                <p class="card-text">Example info</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card mx-2 my-2">
                            <img src="http://via.placeholder.com/330x140" />
                            <div class="card-block">
                                <p class="text-muted font-10">September 15, 2017</p>
                                <h5 class="card-title font-weight-bold">Card title</h5>
                                <p class="card-text">Example info</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 mt-5">
                            <h3 class="font-weight-bold">Family Planning</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="card mx-2 my-2">
                            <img src="http://via.placeholder.com/330x140" />
                            <div class="card-block">
                                <p class="text-muted font-10">September 15, 2017</p>
                                <h5 class="card-title font-weight-bold">Card title</h5>
                                <p class="card-text">Example info</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card mx-2 my-2">
                            <img src="http://via.placeholder.com/330x140" />
                            <div class="card-block">
                                <p class="text-muted font-10">September 15, 2017</p>
                                <h5 class="card-title font-weight-bold">Card title</h5>
                                <p class="card-text">Example info</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mt-5">
                <app-feature-widget></app-feature-widget>

            </div>
        </div>
    </div>
</section>


  </div>
</section>
