<section class="bg-ghetto-white p-3">
  <div class="container my-5">
    <section>
      <div class="row my-4">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <div class="container row p-4" style="margin:0 auto;">
                <div class="container">
                  <div class="col-lg-12">
                    <h2>My Profile</h2>
                  </div>
                </div>
                <div class="row my-4">
                  <div class="col-md-12">
                    <ul class="nav nav-tabs" role="tablist">
                      <li class="nav-item">
                        <a class="nav-link border-0 active" style="color:#7c8c9a;" data-toggle="tab" href="#tab1" role="tab">BASIC INFO</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link border-0" style="color:#7c8c9a;" data-toggle="tab" href="#tab2" role="tab">PAYMENT DETAILS</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link border-0" style="color:#7c8c9a;" data-toggle="tab" href="#tab3" role="tab">NOTIFICATION DETAILS</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link border-0" style="color:#7c8c9a;" data-toggle="tab" href="#tab4" role="tab">DONATION HISTORY</a>
                      </li>
                    </ul>
                  </div>

                </div>
                <div class="container">
                  <div class="row mb-4">
                    <div class="col-lg-12">
                      <h6 class="font-weight-bold">Notifications</h6>
                    </div>
                  </div>
                </div>
                <div class="container">
                <div class="row pb-2">
                  <div class="col-md-9 checkbox">
                    <p>Send email updates every time a contribution is made to campaigns that I am hosting</p>
                  </div>
                  <div class="col-md-3">
                    <div class="pg-switch">
                      <label class="switch">
                          <input type="checkbox">
                          <span class="slider round"></span>
                      </label>
                    </div>
                  </div>
                </div>
                <hr>
                <div class="row pb-2">
                  <div class="col-sm-9">
                    <p>Send email updates every time a comment is posted to campaigns that I am hosting</p>
                  </div>
                  <div class="col-sm-3">
                    <div class="pg-switch">
                      <label class="switch">
                          <input type="checkbox">
                          <span class="slider round"></span>
                      </label>
                    </div>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-9">
                    <p>
                    I would like to receive suggested <a href="#" class="string-link">Pride Pocket articles</a> and recommended companies, organizations, or partners to help you achieve your campaign goals</p>
                  </div>
                  <div class="col-sm-3">
                    <div class="pg-switch">
                      <label class="switch">
                          <input type="checkbox">
                          <span class="slider round"></span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>

