<div style="background-color:  #5e55a4; color: white; padding:16px;">
  <div class="container ">
    <h2 class="banner-txt">Frequently Asked Questions</h2>
 </div>
</div>
<section class="bg-ghetto-white p-5">
  <div class="container ">
    <section>

    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="list-group">
                    <div class="card">
                        <div class="card-body">
                            <div id="list-example" class="list-group">
                                <div class="row">
                                    <div class="col-md-12">
                                        <a class="faq-link faq-scroll string-link" [routerLink]="['/faq']" fragment="basics" (click)="onAnchorClick()">
                                            Pride Pocket Basics
                                        </a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <a class="faq-link faq-scroll string-link" [routerLink]="['/faq']" fragment="recipients_contributors" (click)="onAnchorClick()">
                                            Recipients & Contributors
                                        </a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <a class="faq-link faq-scroll string-link" [routerLink]="['/faq']" fragment="resources" (click)="onAnchorClick()">
                                            Community Resources
                                        </a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <span class="faq-link faq-scroll string-link" [routerLink]="['/faq']" fragment="security" (click)="onAnchorClick()">
                                        Security & Safety
                                    </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">

                        <div id="basics" class="item">
                            <h4 >Pride Pocket Basics</h4>
                            <hr>
                        </div>
                        <div class="item">
                            <div class="row pb-2 questions">
                                <div class="col-sm-11">
                                    <a  data-toggle="collapse" data-parent="#firstAccordion" href="#firstAccordion1"
                                       aria-expanded="false" aria-controls="firstAccordion1" class="faq-link">
                                        What is Pride Pocket?
                                    </a>
                                </div>
                                <div class="col-sm-1">
                                    <i class="faq-link icofont icofont-caret-right"></i>
                                </div>
                            </div>
                            <div id="firstAccordion1" class="collapse" role="tabpanel">
                                <p class="mb-3">
                                    Pride Pocket is an LGBTQ+ focused resource center and compassionate crowdfunding platform. Our team of LGBTQ+ individuals have donated their time, effort, and poured our hearts into building this for you.<br>
                                    <br>
                                    Our goal is to provide educational, factual, and informative articles about LGBTQ+ topics. Additionally, in order to better help member of the community take action, we have built a compassionate crowdfunding platform. This means that if you create a campaign, you will keep 100% of the monetary contributions donated to your cause.

                                </p>
                            </div>
                        </div>

                        <div class="item">
                            <div class="row pb-2 questions">
                                <div class="col-sm-11">
                                    <a data-toggle="collapse" data-parent="#firstAccordion" href="#firstAccordion2"
                                        aria-expanded="false" aria-controls="firstAccordion2" class="faq-link">
                                        Pride Pocket vs GofundMe, Indiegogo, Kickstarted, etc?
                                    </a>
                                </div>
                                <div class="col-sm-1">
                                    <i class="faq-link icofont icofont-caret-right"></i>
                                </div>
                            </div>
                            <div id="firstAccordion2" class="collapse" role="tabpanel">
                                <p class="mb-3">
                                    Unlike other crowdfunding platforms, Pride Pocket was built specifically to educate and empower LGBTQ+ individuals to take action in their lives.<br>
                                    <br>
                                    Another key differentiator is that our organization does NOT charge a platform fee. So, while other crowdfunding platforms claim that they are there to help you reach your goals and see you succeed, they are actually taking 8%+ of any monetary donations to your campaign. We do not do that. Additionally, many similar platforms claim that it is not fair to charge the person donating. We disagree. A transaction fee is absolutely necessary in order to move money from one account to another. Those who are in desperate need are the ones starting these campaigns. It is our belief that they should keep 100% of the contributions their campaigns receive. The donator is charge ONLY the minimal transaction fee. Nothing else.<br>
                                    <br>
                                    Pride Pocket is also much more than just a crowdfunding site. As all of our team members are LGBTQ+ individuals, we understand the absolute need to spread factual articles to help our community better navigate life scenarios. Our community resources are all written specifically about LGBTQ+ topics and are there to answer the “how do I’s” and “what can I do’s” you might be faced with.
                                </p>
                            </div>
                        </div>

                        <div class="item">
                            <div class="row pb-2 questions">
                                <div class="col-sm-11">
                                    <a data-toggle="collapse" data-parent="#firstAccordion" href="#firstAccordion3"
                                    aria-expanded="false" aria-controls="firstAccordion3" class="faq-link">
                                    How much does it cost to use Pride Pocket?
                                    </a>
                                </div>
                                <div class="col-sm-1">
                                    <i class="faq-link icofont icofont-caret-right"></i>
                                </div>
                            </div>
                            <div id="firstAccordion3" class="collapse" role="tabpanel">
                                <p class="mb-3">
                                    Price Pocket is absolutely free to use. There are no membership dues, subscriptions, platform fees, etc. We are and always will be free.<br>
                                    <br>
                                    Our crowdfunding platform DOES charge a transaction fee to the individuals who are donating to the campaign. This is the only way for us to facilitate a monetary contribution.
                                </p>
                            </div>
                        </div>

                        <div class="item">
                            <div class="row pb-2 questions">
                                <div class="col-sm-11">
                                    <a data-toggle="collapse" data-parent="#firstAccordion" href="#firstAccordion4"
                                        aria-expanded="false" aria-controls="firstAccordion4" class="faq-link">
                                        When & why would I use Pride Pocket?
                                    </a>
                                </div>
                                <div class="col-sm-1">
                                    <i class="faq-link icofont icofont-caret-right"></i>
                                </div>
                            </div>

                            <div id="firstAccordion4" class="collapse" role="tabpanel">
                                <p class="mb-3">
                                    Pride Pocket is primarily meant for helping people raise funds for major life events or in times of financial hardship. As the majority of recipients are LGBTQ, we have made it a priority to provide a safe place to find information and ask family and friends for support. Pride Pocket provides a very simple and visually appealing user interface that empowers users to invite guests, pick items for a wishlist, and track savings.
                                </p>
                            </div>
                        </div>

                        <div class="item">
                            <div class="row pb-2 questions">
                                <div class="col-sm-11">
                                    <a data-toggle="collapse" data-parent="#firstAccordion" href="#firstAccordion5"
                                        aria-expanded="false" aria-controls="firstAccordion5" class="faq-link">
                                        Can I use Prise Pocket if I am not LGBTQ+?
                                    </a>
                                </div>
                                <div class="col-sm-1">
                                    <i class="faq-link icofont icofont-caret-right"></i>
                                </div>
                            </div>

                            <div id="firstAccordion5" class="collapse" role="tabpanel">
                                <p class="mb-3">
                                    Yes. As long as your campaign is in no way harmful, hateful, or in any way violates our terms of service you do not have to be LGBTQ+.
                                </p>
                            </div>
                        </div>

                        <div class="item">
                            <div class="row pb-2 questions">
                                <div class="col-sm-11">
                                    <a data-toggle="collapse" data-parent="#firstAccordion" href="#firstAccordion6"
                                        aria-expanded="false" aria-controls="firstAccordion6" class="faq-link">
                                        How do I close my account?
                                    </a>
                                </div>
                                <div class="col-sm-1">
                                    <i class="faq-link icofont icofont-caret-right"></i>
                                </div>
                            </div>

                            <div id="firstAccordion6" class="collapse" role="tabpanel">
                                <p class="mb-3">
                                    You can close your account at any time. To do so, go to your account settings, reach out to our customer support at support@pridepocket.org.
                                </p>
                            </div>
                        </div>
<!--
                        <div class="item">
                            <div class="row pb-2">
                                <div class="col-sm-11">
                                    <a data-toggle="collapse" data-parent="#firstAccordion" href="#firstAccordion7"
                                        aria-expanded="false" aria-controls="firstAccordion7" class="faq-link">
                                        What is a wishlist?
                                    </a>
                                </div>
                                <div class="col-sm-1">
                                    <i class="faq-link icofont icofont-caret-right"></i>
                                </div>
                            </div>

                            <div id="firstAccordion7" class="collapse" role="tabpanel">
                                <p class="mb-3">
                                    Cake pastry soufflé powder. Dragée pie tart gingerbread. Cake donut jelly-o cake
                                    gingerbread caramels icing.<br><br>

                                    Tootsie roll toffee brownie apple pie tootsie roll. Carrot cake jelly cupcake
                                    cheesecake pastry icing halvah danish. Candy canes candy canes jelly-o croissant
                                    cupcake pastry apple pie bonbon.<br><br>

                                    Cookie soufflé chupa chups pastry. Jelly-o carrot cake cookie. Bonbon liquorice
                                    powder lemon drops gummi bears.
                                </p>
                            </div>
                        </div> -->

<!--                         <div class="item">
                            <div class="row pb-2">
                                <div class="col-sm-11">
                                    <a data-toggle="collapse" data-parent="#firstAccordion" href="#firstAccordion8"
                                        aria-expanded="false" aria-controls="firstAccordion8" class="faq-link">
                                        How do people send gifts form their wishlist?
                                        </a>
                                </div>
                                <div class="col-sm-1">
                                    <i class="faq-link icofont icofont-caret-right"></i>
                                </div>
                            </div>

                            <div id="firstAccordion8" class="collapse" role="tabpanel">
                                <p class="mb-3">
                                    Cupcake bear claw gummi bears chupa chups sesame snaps sugar plum gingerbread. Wafer
                                    chocolate bar macaroon pastry donut fruitcake jelly. Brownie lemon drops cupcake
                                    cake bonbon cake.<br><br>

                                    Bear claw tart lemon drops tiramisu cupcake tart. Oat cake carrot cake oat cake
                                    jelly. Soufflé bear claw croissant muffin marzipan sugar plum soufflé. Sesame snaps
                                    macaroon gummies tootsie roll chocolate cake danish.
                                </p>
                            </div>
                        </div> -->

                        <div class="item">
                            <div class="row pb-2 questions">
                                <div class="col-sm-11">
                                    <a data-toggle="collapse" data-parent="#firstAccordion" href="#firstAccordion9"
                               aria-expanded="false" aria-controls="firstAccordion9" class="faq-link">
                                Is there a minimum amount I need to donate?
                            </a>
                                </div>
                                <div class="col-sm-1">
                                    <i class="faq-link icofont icofont-caret-right"></i>
                                </div>
                            </div>

                            <div id="firstAccordion9" class="collapse" role="tabpanel">
                                <p class="mb-3">
                                    No. When it comes to crowdfunding, like all fundraising, any amount helps.
                                </p>
                            </div>
                        </div>

                        <br><br>

                        <!-- =========================================================================== -->
                        <div id="recipients_contributors" class="item">
                            <h4 >Recipient & Contributors</h4>
                            <hr>
                        </div>

                        <div class="item">
                            <div class="row pb-2 questions">
                                <div class="col-sm-11">
                                    <a data-toggle="collapse" data-parent="#firstAccordion" href="#firstAccordion10"
                                        aria-expanded="false" aria-controls="firstAccordion10" class="faq-link">
                                        How much of my donation does the fund raiser keep?
                                    </a>
                                </div>
                                <div class="col-sm-1">
                                    <i class="faq-link icofont icofont-caret-right"></i>
                                </div>
                            </div>

                            <div id="firstAccordion10" class="collapse" role="tabpanel">
                                <p class="mb-3">
                                    The campaign will keep 100% of the donations they receive. Seriously. Every cent donated will be received by the campaign.
                                </p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row pb-2 questions">
                                <div class="col-sm-11">
                                    <a data-toggle="collapse" data-parent="#firstAccordion" href="#firstAccordion11"
                                        aria-expanded="false" aria-controls="firstAccordion11" class="faq-link">
                                        Why was I charged a transaction fee to donate?
                                    </a>
                                </div>
                                <div class="col-sm-1">
                                    <i class="faq-link icofont icofont-caret-right"></i>
                                </div>
                            </div>

                            <div id="firstAccordion11" class="collapse" role="tabpanel">
                                <p class="mb-3">
                                    Pride Pocket does not charge any platform fees, membership fees, etc. However, in order to facilitate the movement of money a transaction fee must be paid to the third party financial institution. PayPal, WePay, Stripe, etc all charge the same fees (2.9% + $0.30 for every transaction). Most crowdfunding platforms charge the host of the campaign for every transaction fee as well as a 5% or HIGHER platform fee.
                                    <br>
                                    <br>
                                    What that means is that a campaign that reaches their goal of $100 automatically has 8%+ taken away to pay for the use of the platform and transfer of money. Pride Pocket’s model charges the person donating the minimal transaction fee, as it is impossible to move the money without it. We do not charge any platform fees and promise to keep pricing as low as possible for all parties involved.
                                </p>
                            </div>
                        </div>

                        <br><br>
                        <!-- =========================================================================== -->

                        <div id="resources" class="item">
                            <h4>Community Resources</h4>
                            <hr>
                        </div>

                        <div class="item">
                            <div class="row pb-2 questions">
                                <div class="col-sm-11">
                                    <a data-toggle="collapse" data-parent="#firstAccordion" href="#firstAccordion12"
                                        aria-expanded="false" aria-controls="firstAccordion12" class="faq-link">
                                        What resources does Pride Pocket offer?
                                    </a>
                                </div>
                                <div class="col-sm-1">
                                    <i class="faq-link icofont icofont-caret-right"></i>
                                </div>
                            </div>

                            <div id="firstAccordion12" class="collapse" role="tabpanel">
                                <p class="mb-3">
                                    We are building out our community resources every week. Currently we offer factual, informative articles about LGBTQ+ related issues. Our goal is to provide recommendations, directories, and much more. If you would like to provide feedback or get involved with the Pride Pocket team, please reach out to us!
                                </p>
                            </div>
                        </div>

                        <br><br>
                        <!-- =========================================================================== -->

                        <div id="security" class="item">
                            <h4 >Security & Safety</h4>
                            <hr>
                        </div>

                        <div class="item">
                            <div class="row pb-2 questions">
                                <div class="col-sm-11">
                                    <a data-toggle="collapse" data-parent="#firstAccordion" href="#firstAccordion13"
                                        aria-expanded="false" aria-controls="firstAccordion13" class="faq-link">
                                        Is my personal information secure with Pride Pocket?
                                    </a>
                                </div>
                                <div class="col-sm-1">
                                    <i class="faq-link icofont icofont-caret-right"></i>
                                </div>
                            </div>

                            <div id="firstAccordion13" class="collapse" role="tabpanel">
                                <p class="mb-3">
                                    Completely. We take security very seriously. The LGBTQ+ community is one that faces much adversity. Many of our members are not publicly out to everyone, and it is our mission to make sure that they have the option to keep it that way.
                                    <br>
                                    <br>
                                    All campaigns are unsearchable UNLESS SPECIFICALLY given permission to be. This way, if anyone shares their campaign with only the few friends and family who they feel comfortable with, the page can not be accidentally searched for by anyone else.
                                    <br>
                                    <br>
                                    Personal information is encrypted and all financial info security is guaranteed by our third party provider.otton candy. Gummies chocolate cake halvah cupcake halvah.
                                </p>
                            </div>
                        </div>

                        <div class="item">
                            <div class="row pb-2 questions">
                                <div class="col-sm-11">
                                    <a data-toggle="collapse" data-parent="#firstAccordion" href="#firstAccordion14"
                                        aria-expanded="false" aria-controls="firstAccordion14" class="faq-link">
                                        Are Transactions secure with Pride Pocket?
                                    </a>
                                </div>
                                <div class="col-sm-1">
                                    <i class="faq-link icofont icofont-caret-right"></i>
                                </div>
                            </div>

                            <div id="firstAccordion14" class="collapse" role="tabpanel">
                                <p class="mb-3">
                                    All transactions are facilitated through a third party provider, PayPal. The security is guaranteed by Pride Pocket as well as PayPal.
                                </p>
                            </div>
                        </div>

                        <div class="item">
                            <div class="row pb-2 questions">
                                <div class="col-sm-11">
                                    <a data-toggle="collapse" data-parent="#firstAccordion" href="#firstAccordion15"
                                        aria-expanded="false" aria-controls="firstAccordion15" class="faq-link">
                                        Why are some donations anonymous?
                                    </a>
                                </div>
                                <div class="col-sm-1">
                                    <i class="faq-link icofont icofont-caret-right"></i>
                                </div>
                            </div>

                            <div id="firstAccordion15" class="collapse" role="tabpanel">
                                <p class="mb-3">
                                    We understand that sometimes it is hard to be openly supportive of LGBTQ+ issues or individuals if one is in the closet or for various other reasons. Because of this we do allow for donations to be contributed to a campaign anonymously.
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


        </div>
        <!-- Row -->
    </div>
</section>


  </div>
</section>
