<div style="background-color:  #5e55a4; color: white; padding:16px;">
  <div class="container">
    <h2>Frequently Asked Questions</h2>
 </div>
</div>
<section class="bg-ghetto-white p-5">
  <div class="container ">
    <section>

    <div class="container">
        <div class="row">

            <div class="col-sm-4">
                <div class="list-group">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <a href="#" class="text-muted">
                                        Cras justo odio
                                    </a>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-12">
                                    <a href="#" class="text-muted">
                                        Dapibus ac facilisis in
                                    </a>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-12">
                                    <a href="#" class="text-muted">
                                        Morbi leo risus
                                    </a>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-12">
                                    <a href="#"class="text-muted">
                                        Porta ac consectetur ac
                                    </a>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-12">
                                    <a href="#" class="text-muted" disabled>
                                        Vestibulum at eros
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">

                        <div id=pride_pocket_basics class="item">
                            Pride Pocket Basics
                            <hr>
                        </div>

                        <div class="item">
                            <div class="row">
                                <div class=col-sm-10>
                                    <a data-toggle="collapse" data-parent="#firstAccordion" href="#firstAccordion1"
                                       aria-expanded="false" aria-controls="firstAccordion1" class="text-muted">
                                        What is Pride Pocket?
                                    </a>
                                </div>
                                <div class=col-sm-2>
                                    >
                                </div>
                            </div>
                            <div id="firstAccordion1" class="collapse" role="tabpanel">
                                <p class="mb-3">
                                    Croissant oat cake apple pie oat cake. Dragée topping icing dragée. Halvah jelly
                                    tiramisu jujubes chocolate danish jelly-o macaroon sweet.<br><br>

                                    Chocolate dessert chocolate chocolate cake candy. Jelly halvah oat cake jelly beans
                                    pudding jelly. Brownie fruitcake donut oat cake topping caramels. Croissant sesame
                                    snaps muffin chupa chups apple pie cookie chupa chups jujubes.<br><br>

                                </p>
                            </div>
                        </div>

                        <div class="item">
                            <div class="row">
                                <div class=col-sm-10>
                                    <a data-toggle="collapse" data-parent="#firstAccordion" href="#firstAccordion2"
                                        aria-expanded="false" aria-controls="firstAccordion2" class="text-muted">
                                        Pride Pocket vs GofundMe, Indiegogo, Kickstarted, etc?
                                    </a>
                                </div>
                                <div class=col-sm-2>
                                    >
                                </div>
                            </div>
                            <div id="firstAccordion2" class="collapse" role="tabpanel">
                                <p class="mb-3">
                                    Sesame snaps topping chocolate cake bonbon biscuit cheesecake sesame snaps soufflé
                                    candy. Jelly wafer sweet tiramisu oat cake cake. Donut carrot cake topping lemon
                                    drops cookie. Cupcake chocolate bar marshmallow liquorice liquorice sweet.<br><br>

                                    Topping cheesecake topping macaroon liquorice. Gingerbread lemon drops chocolate
                                    bar. Lemon drops dragée cotton candy chupa chups chocolate gingerbread donut.
                                    Gummies toffee chocolate cake ice cream wafer marzipan sweet.
                                </p>
                            </div>
                        </div>

                        <div class="item">
                            <div class="row">
                                <div class=col-sm-10>
                                    <a data-toggle="collapse" data-parent="#firstAccordion" href="#firstAccordion3"
                                    aria-expanded="false" aria-controls="firstAccordion3" class="text-muted">
                                    How much does it cost to use Pride Pocket?
                                    </a>
                                </div>
                                <div class=col-sm-2>
                                    >
                                </div>
                            </div>
                            <div id="firstAccordion3" class="collapse" role="tabpanel">
                                <p class="mb-3">
                                    Sweet chupa chups tart toffee croissant croissant carrot cake gummi bears wafer.
                                    Jelly-o fruitcake biscuit bear claw chocolate. Pudding chocolate cake chocolate bar cupcake.<br><br>

                                    Dessert apple pie bear claw sweet roll. Topping sugar plum gummies soufflé pudding
                                    cake ice cream. Powder pie ice cream carrot cake tart pastry. Halvah marzipan
                                    chocolate cotton candy dessert icing gummies liquorice carrot cake.
                                </p>
                            </div>
                        </div>

                        <div class="item">
                            <div class="row">
                                <div class=col-sm-10>
                                    <a data-toggle="collapse" data-parent="#firstAccordion" href="#firstAccordion4"
                                        aria-expanded="false" aria-controls="firstAccordion4" class="text-muted">
                                        When & why would I use Pride Pocket?
                                    </a>
                                </div>
                                <div class=col-sm-2>
                                    >
                                </div>
                            </div>

                            <div id="firstAccordion4" class="collapse" role="tabpanel">
                                <p class="mb-3">
                                    Tiramisu chocolate jelly-o dragée. Liquorice chupa chups apple pie. Cake cheesecake
                                    cake toffee icing. Tiramisu jujubes bonbon candy canes oat cake.<br><br>

                                    Cookie bonbon dessert cookie apple pie. Marshmallow wafer danish cake jelly candy
                                    apple pie pie. Cake tiramisu oat cake tootsie roll tart sesame snaps toffee.
                                </p>
                            </div>
                        </div>

                        <div class="item">
                            <div class="row">
                                <div class=col-sm-10>
                                    <a data-toggle="collapse" data-parent="#firstAccordion" href="#firstAccordion5"
                                        aria-expanded="false" aria-controls="firstAccordion5" class="text-muted">
                                        Can I use Prise Pocket if I am not LGBTQ+?
                                    </a>
                                </div>
                                <div class=col-sm-2>
                                    >
                                </div>
                            </div>

                            <div id="firstAccordion5" class="collapse" role="tabpanel">
                                <p class="mb-3">
                                    5Brownie liquorice sugar plum sesame snaps sugar plum sesame snaps ice cream. Powder
                                    danish soufflé sugar plum tart macaroon cotton candy chupa chups cotton candy. Sugar
                                    plum fruitcake brownie.<br><br>

                                    Fruitcake marshmallow cake ice cream cheesecake. Chupa chups dessert donut jelly.
                                    Chocolate bonbon halvah sugar plum sugar plum.<br><br>

                                    Dessert sweet roll powder pudding soufflé. Ice cream gummi bears apple pie cupcake
                                    sesame snaps chupa chups powder. Icing soufflé danish. Oat cake lollipop marshmallow
                                    donut muffin candy pie jujubes biscuit.
                                </p>
                            </div>
                        </div>

                        <div class="item">
                            <div class="row">
                                <div class=col-sm-10>
                                    <a data-toggle="collapse" data-parent="#firstAccordion" href="#firstAccordion6"
                                        aria-expanded="false" aria-controls="firstAccordion6" class="text-muted">
                                        How do I close my account?
                                    </a>
                                </div>
                                <div class=col-sm-2>
                                    >
                                </div>
                            </div>

                            <div id="firstAccordion6" class="collapse" role="tabpanel">
                                <p class="mb-3">
                                    Icing caramels chupa chups. Carrot cake jujubes powder sweet roll. Cupcake liquorice
                                    tiramisu. Soufflé icing topping jujubes.<br><br>

                                    Soufflé tart marshmallow. Biscuit sesame snaps toffee candy canes cake icing.
                                    Biscuit jelly-o jelly gummi bears toffee marshmallow bear claw. Pastry chocolate bar
                                    candy canes pudding halvah gummies croissant danish.
                                </p>
                            </div>
                        </div>

                        <div class="item">
                            <div class="row">
                                <div class=col-sm-10>
                                    <a data-toggle="collapse" data-parent="#firstAccordion" href="#firstAccordion7"
                                        aria-expanded="false" aria-controls="firstAccordion7" class="text-muted">
                                        What is a wishlist?
                                    </a>
                                </div>
                                <div class=col-sm-2>
                                    >
                                </div>
                            </div>

                            <div id="firstAccordion7" class="collapse" role="tabpanel">
                                <p class="mb-3">
                                    Cake pastry soufflé powder. Dragée pie tart gingerbread. Cake donut jelly-o cake
                                    gingerbread caramels icing.<br><br>

                                    Tootsie roll toffee brownie apple pie tootsie roll. Carrot cake jelly cupcake
                                    cheesecake pastry icing halvah danish. Candy canes candy canes jelly-o croissant
                                    cupcake pastry apple pie bonbon.<br><br>

                                    Cookie soufflé chupa chups pastry. Jelly-o carrot cake cookie. Bonbon liquorice
                                    powder lemon drops gummi bears.
                                </p>
                            </div>
                        </div>

                        <div class="item">
                            <div class="row">
                                <div class=col-sm-10>
                                    <a data-toggle="collapse" data-parent="#firstAccordion" href="#firstAccordion8"
                                        aria-expanded="false" aria-controls="firstAccordion8" class="text-muted">
                                        How do people send gifts form their wishlist?
                                        </a>
                                </div>
                                <div class=col-sm-2>
                                    >
                                </div>
                            </div>

                            <div id="firstAccordion8" class="collapse" role="tabpanel">
                                <p class="mb-3">
                                    Cupcake bear claw gummi bears chupa chups sesame snaps sugar plum gingerbread. Wafer
                                    chocolate bar macaroon pastry donut fruitcake jelly. Brownie lemon drops cupcake
                                    cake bonbon cake.<br><br>

                                    Bear claw tart lemon drops tiramisu cupcake tart. Oat cake carrot cake oat cake
                                    jelly. Soufflé bear claw croissant muffin marzipan sugar plum soufflé. Sesame snaps
                                    macaroon gummies tootsie roll chocolate cake danish.
                                </p>
                            </div>
                        </div>

                        <div class="item">
                            <div class="row">
                                <div class=col-sm-10>
                                    <a data-toggle="collapse" data-parent="#firstAccordion" href="#firstAccordion9"
                               aria-expanded="false" aria-controls="firstAccordion9" class="text-muted">
                                Is there a minimum amount I need to donate?
                            </a>
                                </div>
                                <div class=col-sm-2>
                                    >
                                </div>
                            </div>

                            <div id="firstAccordion9" class="collapse" role="tabpanel">
                                <p class="mb-3">
                                    Gingerbread croissant cheesecake cotton candy apple pie chocolate cake chocolate
                                    cake. Danish soufflé liquorice candy canes chocolate bar sweet roll macaroon
                                    cheesecake. Chocolate cake bear claw croissant soufflé sweet soufflé croissant. Cake
                                    ice cream oat cake chocolate bar sugar plum.<br><br>

                                    Cake cotton candy chocolate bar. Biscuit fruitcake bear claw sweet roll. Sesame
                                    snaps chocolate wafer cookie. Tiramisu tiramisu halvah danish donut cotton candy
                                    biscuit fruitcake oat cake.
                                </p>
                            </div>
                        </div>

                        <br><br>

                        <!-- =========================================================================== -->
                        <div id="recipient_&_contributors" class="item">
                            Recipient & Contributors
                            <hr>
                        </div>

                        <div class="item">
                            <div class="row">
                                <div class=col-sm-10>
                                    <a data-toggle="collapse" data-parent="#firstAccordion" href="#firstAccordion10"
                                        aria-expanded="false" aria-controls="firstAccordion10" class="text-muted">
                                        How much of my donation does the fund raiser keep?
                                    </a>
                                </div>
                                <div class=col-sm-2>
                                    >
                                </div>
                            </div>

                            <div id="firstAccordion10" class="collapse" role="tabpanel">
                                <p class="mb-3">
                                    Croissant oat cake apple pie oat cake. Dragée topping icing dragée. Halvah jelly
                                    tiramisu jujubes chocolate danish jelly-o macaroon sweet.<br><br>

                                    Chocolate dessert chocolate chocolate cake candy. Jelly halvah oat cake jelly beans
                                    pudding jelly. Brownie fruitcake donut oat cake topping caramels. Croissant sesame
                                    snaps muffin chupa chups apple pie cookie chupa chups jujubes.<br><br>

                                    Jelly beans muffin donut bear claw cake halvah tiramisu. Marzipan brownie soufflé
                                    sweet muffin candy canes croissant gummi bears powder. Soufflé liquorice icing
                                    gingerbread apple pie.<br><br>

                                    Halvah cookie topping biscuit dessert candy topping. Macaroon sweet roll cookie
                                    tootsie roll gummies gummies topping donut oat cake. Croissant jelly carrot cake
                                    pastry soufflé.
                                </p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class=col-sm-10>
                                    <a data-toggle="collapse" data-parent="#firstAccordion" href="#firstAccordion11"
                                        aria-expanded="false" aria-controls="firstAccordion11" class="text-muted">
                                        Why was I charged a transaction fee to donate?
                                    </a>
                                </div>
                                <div class=col-sm-2>
                                    >
                                </div>
                            </div>

                            <div id="firstAccordion11" class="collapse" role="tabpanel">
                                <p class="mb-3">
                                    Jujubes jelly muffin liquorice. Marshmallow gummies oat cake. Macaroon chocolate
                                    cake jelly beans oat cake.<br><br>

                                    Sweet bonbon icing. Tart ice cream gummies sweet bonbon carrot cake candy canes
                                    icing jelly. Sweet cake candy bear claw chocolate bar cupcake gummies. Chocolate
                                    cake sesame snaps marshmallow chupa chups marzipan tiramisu.
                                </p>
                            </div>
                        </div>

                        <br><br>
                        <!-- =========================================================================== -->

                        <div id="community_resources" class="item">
                            Community Resources
                            <hr>
                        </div>

                        <div class="item">
                            <div class="row">
                                <div class=col-sm-10>
                                    <a data-toggle="collapse" data-parent="#firstAccordion" href="#firstAccordion12"
                                        aria-expanded="false" aria-controls="firstAccordion12" class="text-muted">
                                        What resources does Pride Pocket offer?
                                    </a>
                                </div>
                                <div class=col-sm-2>
                                    >
                                </div>
                            </div>

                            <div id="firstAccordion12" class="collapse" role="tabpanel">
                                <p class="mb-3">
                                    Sugar plum bonbon croissant halvah gummi bears. Donut cake caramels cake gummi bears
                                    gummies ice cream. Pudding jujubes candy.<br><br>

                                    Cake muffin tart sweet roll brownie. Fruitcake toffee cheesecake chocolate macaroon
                                    gummies jelly dessert pastry. Marshmallow carrot cake lemon drops cupcake lollipop.
                                    Cake pie lemon drops soufflé.<br><br>

                                    Sweet roll fruitcake cotton candy. Apple pie icing candy soufflé. Pastry tiramisu
                                    carrot cake cookie marshmallow topping. Macaroon jujubes fruitcake.
                                </p>
                            </div>
                        </div>

                        <br><br>
                        <!-- =========================================================================== -->

                        <div id="security_&_safety" class="item">
                            Security & Safety
                            <hr>
                        </div>

                        <div class="item">
                            <div class="row">
                                <div class=col-sm-10>
                                    <a data-toggle="collapse" data-parent="#firstAccordion" href="#firstAccordion13"
                                        aria-expanded="false" aria-controls="firstAccordion13" class="text-muted">
                                        Is my personal information secure with Pride Pocket?
                                    </a>
                                </div>
                                <div class=col-sm-2>
                                    >
                                </div>
                            </div>

                            <div id="firstAccordion13" class="collapse" role="tabpanel">
                                <p class="mb-3">
                                    Biscuit fruitcake marshmallow halvah bear claw cheesecake chocolate bar oat cake.
                                    Candy jelly-o topping. Bonbon carrot cake chocolate cake powder jelly-o apple pie
                                    dragée.<br><br>

                                    Cookie cookie biscuit soufflé ice cream. Pudding danish apple pie powder jelly
                                    biscuit halvah biscuit cotton candy. Gummies chocolate cake halvah cupcake halvah.
                                </p>
                            </div>
                        </div>

                        <div class="item">
                            <div class="row">
                                <div class=col-sm-10>
                                    <a data-toggle="collapse" data-parent="#firstAccordion" href="#firstAccordion14"
                                        aria-expanded="false" aria-controls="firstAccordion14" class="text-muted">
                                        Are Transactions secure with Pride Pocket?
                                    </a>
                                </div>
                                <div class=col-sm-2>
                                    >
                                </div>
                            </div>

                            <div id="firstAccordion14" class="collapse" role="tabpanel">
                                <p class="mb-3">
                                    Bear claw bear claw sweet sugar plum oat cake oat cake jelly beans chupa chups
                                    liquorice. Ice cream gummi bears caramels jelly gingerbread macaroon. Tiramisu pie
                                    candy chocolate bar dragée dessert tiramisu sugar plum powder. Oat cake candy canes
                                    pie lemon drops jelly-o cheesecake sugar plum sweet.<br><br>

                                    Marshmallow jelly-o chupa chups lollipop candy canes chocolate bar. Sesame snaps
                                    sugar plum bear claw. Cake chocolate cake gummies bonbon cookie tiramisu apple pie
                                    caramels.
                                </p>
                            </div>
                        </div>

                        <div class="item">
                            <div class="row">
                                <div class=col-sm-10>
                                    <a data-toggle="collapse" data-parent="#firstAccordion" href="#firstAccordion15"
                                        aria-expanded="false" aria-controls="firstAccordion15" class="text-muted">
                                        Why are some donations anonymous?
                                    </a>
                                </div>
                                <div class=col-sm-2>
                                    >
                                </div>
                            </div>

                            <div id="firstAccordion15" class="collapse" role="tabpanel">
                                <p class="mb-3">
                                    Chocolate sugar plum jelly beans oat cake jelly. Macaroon marzipan lollipop sesame
                                    snaps topping pastry halvah. Pie gummies bear claw jujubes lemon drops cotton candy.<br><br>

                                    Pudding caramels tart tootsie roll lollipop biscuit cotton candy oat cake. Wafer
                                    gummi bears jelly beans chocolate bar fruitcake cotton candy croissant halvah.
                                    Caramels cupcake jelly-o donut. Cupcake lollipop sugar plum wafer sweet sesame snaps
                                    muffin bonbon.
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


        </div>
        <!-- Row -->
    </div>
</section>


  </div>
</section>
