<div class="row" >
	<div class="col-lg-7">
		<form #paymentDeet="ngForm" (ngSubmit)="onSubmit(paymentDeet)">
			<div>
			  <label class="font-18" style="color: #424958;">Total Funds Raised (lifetime)</label>
			  <div class="input-group mb-3">
			    <div class="input-group-prepend">
			      <span class="input-group-addon h-100" id="basic-addon1"><i class="icofont icofont-cur-dollar"></i></span>
			    </div>
			    <input type="text" class="form-control" placeholder="total funds" aria-label="Username" aria-describedby="basic-addon1" [(ngModel)]="funds" name="funds" #pickedFunds="ngModel">
			  </div>
			  <label class="font-18" style="color: #424958;">Funds transferred to bank</label>
			  <div class="input-group mb-3">
			    <div class="input-group-prepend">
			      <span class="input-group-addon h-100" id="basic-addon1"><i class="icofont icofont-bank-alt"></i></span>
			    </div>
			    <input type="text" class="form-control" placeholder="funds to transfer" aria-label="transfers" aria-describedby="basic-addon1" [(ngModel)]="transfer" name="transfers" #pickedTransfer="ngModel">
			  </div>
			</div>

			<div>
				<button type="submit" class="h-100 btn btn-lg btn-block btn-primary">Submit</button>
			</div>
		</form>
	</div>
	<div class="col-lg-3">
	  <div class="recieve-funds pr-5">
	    <p class="font-18" style="color:#424958;">Receive Funds</p>
	    <p class="font-14">Please set up your WePay acount to start receiving funds. Funds will be disbursed to you every 15 days. When your fundraiser ends, any remaining funds will be sent to you within 15 business days.</p>
	    <div class="btn btn-default" (click)="setupWepay()" ><a href="{{ wepayLink }}" target="_blank" >Setup Wepay</a></div>
	  </div>
	</div>
</div>