<section class="bg-ghetto-white p-3">
  <div class="container my-5">
    <section>
      <div class="row my-4">
        <div class="col-lg-1">
        </div>
        <div class="col-lg-10">
          <div class="card">
            <div class="card-body">
              <div class="container row p-4" style="margin:0 auto;">
                <div class="col-md-5">
                  <div class="row">
                    <div class="col-md-12">
                      <h2 class="title">Join the Community</h2>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                       <p class="txt-small font-14">Already have an account? <a href="#" class="string-link">  Login Now</a></p>
                    </div>
                  </div>
                  <form class="mr-5">
                    <div class="form-group row">
                      <div class="col-md-12 ">
                        <input type="text" class="form-control" placeholder="Full name" >
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-md-12 ">
                        <input type="email" class="form-control" placeholder="Email" >
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="input-group col-md-12">
                        <input type="password" class="form-control" placeholder="Password">
                        <div class="input-group-addon p-3">
                            <i class="icofont icofont-eye-alt"></i>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <button class="btn btn-block btn-warning  btn-primary btn-lrg">Join Pride Pocket</button>
                      </div>
                    </div>
                    <div>
                        <hr class="hr-text">
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <a href="#fakelink" class="btn btn-facebook btn-block mb-2"><i class="icofont icofont-social-facebook mr-2"></i>Sign Up with Facebook</a>
                      </div>
                    </div>
                  </form>
                  <div class="row mt-4">
                      <div class="col-md-12">
                        <p class="text-muted font-9">By creating a Pridely account you are agree to our terms of service and privacy policy.</p>
                      </div>
                    </div>
                  </div>
                <div class="col-md-5 pt-5 left-border">
                  <div class="row pt-5">
                    <div class="col-md-2 pr-5">
                      <img src="./assets/images/privacy.svg" style="width:70px"/>
                    </div>
                    <div class="col-md-10 pl-4 pr-4">
                      <p class="pr-5">Private campaigns can only be viewed by those you invite.</p>
                    </div>
                  </div>
                  <div class="row pt-5">
                    <div class="col-md-2 pr-5">
                      <img src="./assets/images/pig.svg" style="width:70px"/>
                    </div>
                    <div class="col-md-10 pl-4 pr-4">
                      <p class="pr-5">Keep 100% of what your friends and family donate to campaigns!</p>
                    </div>
                  </div>
                  <div class="row pt-5">
                    <div class="col-md-2 pr-5">
                      <img src="./assets/images/resources.svg" style="width:70px"/>
                    </div>
                    <div class="col-md-10 pl-4 pr-4">
                      <p class="pr-5">A community of resources for major LGBTQ issues.</p>
                    </div>
                  </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
        <div class="col-lg-1">
        </div>
      </div>
    </section>
  </div>
</section>
