<section class="bg-ghetto-white p-3">
  <div class="container my-5">
    <section>
      <div class="row my-4">
        <div class="col-lg-1">
        </div>
        <div class="col-lg-10">
          <div class="card">
            <div class="card-body">
              <div class="row p-4" style="margin:0 auto;">
                <div class="col-lg-6 su-form">
                  <div class="row">
                    <div class="col-lg-12">
                      <h2 class="title">Join the Community</h2>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-12">
                       <p class="txt-small font-14">Already have an account? <a href="#" class="string-link">Login Now</a></p>
                    </div>
                  </div>
                  <form #newUser="ngForm" (ngSubmit)="onSignUp(newUser)"class="mr-5">
                    <div class="form-group row" [class.has-danger]="pickedName.errors">
                      <div class="col-lg-12 ">
                        <input type="text" class="form-control" placeholder="Full name" [(ngModel)]="name" minlength="6" maxlength="36" name="name" #pickedName="ngModel">
                      </div>
                      <div class="form-control-feedback" *ngIf="pickedEmail.errors">
                          must enter name.</div>
                    </div>
                    <div class="form-group row" [class.has-danger]="pickedEmail.errors">
                      <div class="col-lg-12 ">
                        <input type="email" class="form-control" placeholder="Email" [(ngModel)]="email" minlength="6" maxlength="36" name="email" #pickedEmail="ngModel">
                      </div>
                      <div class="form-control-feedback" *ngIf="pickedEmail.errors">
                          must enter email.</div>
                    </div>
                    <div class="form-group row" [class.has-danger]="pickedPassword.errors">
                      <div class="input-group col-lg-12">
                        <input pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" type="password"  class="form-control" id="password" minlegth="8" maxlength="36" type="password" class="form-control" placeholder="Password" [(ngModel)]="password" name="password" #pickedPassword="ngModel">
                        <div class="input-group-addon p-3">
                            <i class="icofont icofont-eye-alt"></i>
                        </div>
                      </div>
                      <div class="form-control-feedback" *ngIf="pickedPassword.errors">
                          Password must contain UpperCase, LowerCase, Number/SpecialChar and min 8 characters.</div>
                    </div>
                    <div class="row">
                      <div class="col-lg-12">
                        <button type="submit" class="btn btn-block btn-warning btn-primary p-2 h-100 font-20">Join Pride Pocket</button>
                      </div>
                    </div>
                    <div>
                        <hr class="hr-text">
                    </div>
                    <div class="row">
                      <div class="col-lg-12">
                        <a href="#fakelink" class="btn btn-facebook btn-block mb-2 h-100 font-18 "><i class="icofont icofont-social-facebook mr-2 h-100"></i>Sign Up with Facebook</a>
                      </div>
                    </div>
                  </form>
                  <div class="row mt-4">
                      <div class="col-lg-12">
                        <p class="text-muted font-9">By creating a Pride Pocket account you agree to our terms of service and privacy policy.</p>
                      </div>
                    </div>
                  </div>
                <div class="col-lg-6 pt-5 left-border">
                  <div class="row pt-5 pl-3 r-bod">
                    <div class="col-lg-2 r-img">
                      <img src="./assets/images/privacy.svg" style="width:70px"/>
                    </div>
                    <div class="col-lg-10">
                      <p class="pl-4 r-txt">Private campaigns can only be viewed by those you invite.</p>
                    </div>
                  </div>
                  <div class="row pt-5 pl-3 r-bod">
                    <div class="col-lg-2 r-img">
                      <img src="./assets/images/pig.svg" style="width:70px"/>
                    </div>
                    <div class="col-lg-10">
                      <p class="pl-4 r-txt">Keep 100% of what your friends and family donate to campaigns!</p>
                    </div>
                  </div>
                  <div class="row pt-5 pl-3 r-bod">
                    <div class="col-lg-2 r-img">
                      <img src="./assets/images/resources.svg" style="width:70px"/>
                    </div>
                    <div class="col-lg-10">
                      <p class="pl-4 r-txt">A community of resources for major LGBTQ issues.</p>
                    </div>
                  </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
        <div class="col-lg-1">
        </div>
      </div>
    </section>
  </div>
</section>
