<div class="card">
      <div class="card-body">
        <div class="row">
          <div class="mb-2">
            <h4 class="ml-3 twilight">Categories</h4>
            <div class="ml-3">
              <a class="btn btn-inverse btn-sm mb-2" style="box-shadow: none" href="#" role="button">General</a>
              <a class="btn btn-inverse btn-sm mb-2" style="box-shadow: none" href="#" role="button">Love</a>
              <a class="btn btn-inverse btn-sm mb-2" style="box-shadow: none" href="#" role="button">Legal</a>
              <a class="btn btn-inverse btn-sm mb-2" style="box-shadow: none" href="#" role="button">Idenity</a>
              <a class="btn btn-inverse btn-sm mb-2" style="box-shadow: none" href="#" role="button">Transitioning</a>
              <a class="btn btn-inverse btn-sm mb-2" style="box-shadow: none" href="#" role="button">LGTQ+ Youth</a>
              <a class="btn btn-inverse btn-sm mb-2" style="box-shadow: none" href="#" role="button">Travel</a>
            </div>
          </div>
        </div>
      </div>
</div>
