<div class="row">
  <div class="col-lg-12">
	  <div class="table-responsive">
	  	
	    <table class="table p-5">
	      <thead class="thead-light" style="background-color: #e9ecf4; height:65px;">
	        <tr>
	          <th class="font-16 pb-4"></th>
	          <th class="font-16 pb-4">Host Name</th>
	          <th class="font-16 pb-4">Campaign</th>
	          <th class="font-16 pb-4">Type of Event</th>
	          <th class="font-16 pb-4">Amount</th>
	          <th class="font-16 pb-4">Date</th>
	          <th class="font-16 pb-4">Campaign Status</th>
	          <th class="font-16 pb-4">Receipt</th>
	        </tr>
	      </thead>
	      <tbody>
            <tr *ngFor="let donation of donations" >
              <td><img class="rounded-circle" src="http://via.placeholder.com/50X50" /></td>
              <td class="font-14 pt-4">{{ donation.recipient }}</td>
              <td class="font-14 pt-4"><a class="string-link" href="#"><strong>{{ donation.campaign.name }}</strong></a></td>
              <td class="pt-3">
                <div class="label-main">
                  <label class="label label-info don-tag font-14">{{ donation.campaign.type }}</label>
                </div>
              </td>
              <td class="font-14 pt-4">${{ donation.amount }}</td>
              <td class="font-14 pt-4">{{ donation.create_time | date }}</td>
              <td class="font-14 pt-3">
                <button type="button" class="font-14 btn btn-warning btn-sm btn-rounded camp-stat px-4">{{ donation.campaign.status }}</button>
              <td class="pt-3">
                <button type="button" class="font-14 btn btn-info btn-sm btn-rounded receipt-btn">Download</button>
              </td>
	      </tbody>
	    </table>
	    
    </div>
  </div>
</div>


<!--
<tr>
  <td><img class="rounded-circle" src="http://via.placeholder.com/50X50" /></  td>
  <td class="font-14 pt-4">Jessica Sykes</td>
  <td class="font-14 pt-4"><a class="string-link" href="#"><strong>Jessica needs hormones</strong></a></td>
  <td class="pt-3">
    <div class="label-main">
      <label class="label label-info don-tag font-14">Medical</label>
    </div>
  </td>
  <td class="font-14 pt-4">$125</td>
  <td class="font-14 pt-4">2/3/17</td>
  <td class="font-14 pt-3">
    <button type="button" class="font-14 btn btn-warning btn-sm btn-rounded camp-stat px-4">Pending</button>
  <td class="pt-3">
    <button type="button" class="font-14 btn btn-info btn-sm btn-rounded receipt-btn">Download</button>
  </td>
</tr>
-->