<div style="display: flex; flex-direction: column; flex: 1">
	<div (drop)="drop($event)" (dragover)="dragover($event)" style="flex: 5; display: flex" >
		<ng-content></ng-content>
		<div style="flex: 1; display: flex; flex-direction: row;" *ngIf="uploadStatus > 0">
			<div>Upload Status: </div><div>{{ uploadStatus }}% complete</div>
		</div>
	</div>
	<div style="padding: 1em 0 1em 0; flex: 1" >
		<input type="file" (change)="fileSelect($event)" class="btn btn-info" style="background-color: #e9ecf4; border: #e9ecf4; color: #424958;" >
	</div>
</div>