<section class="bg-ghetto-white p-3">
  <div class="container my-5">

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-md-12">
                        <p class="my-0">Default:</p>
                        <button class="btn btn-default">Default Button</button>
                        <button class="btn btn-primary">Primary Button</button>
                        <button class="btn btn-success">Success Button</button>
                        <button class="btn btn-info">Info Button</button>
                        <button class="btn btn-warning">Warning Button</button>
                        <button class="btn btn-danger">Danger Button</button>
                        <button class="btn btn-inverse">Other Button</button>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-12">
                        <p class="my-0">Default disabled:</p>
                        <button class="btn btn-default" disabled>Default Button</button>
                        <button class="btn btn-primary" disabled>Primary Button</button>
                        <button class="btn btn-success" disabled>Success Button</button>
                        <button class="btn btn-info" disabled>Info Button</button>
                        <button class="btn btn-warning" disabled>Warning Button</button>
                        <button class="btn btn-danger" disabled>Danger Button</button>
                        <button class="btn btn-inverse" disabled>Other Button</button>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-12">
                        <p class="my-0">Rounded:</p>
                        <button class="btn btn-default btn-round">Default Button</button>
                        <button class="btn btn-primary btn-round">Primary Button</button>
                        <button class="btn btn-success btn-round">Success Button</button>
                        <button class="btn btn-info btn-round">Info Button</button>
                        <button class="btn btn-warning btn-round">Warning Button</button>
                        <button class="btn btn-danger btn-round">Danger Button</button>
                        <button class="btn btn-inverse btn-round">Other Button</button>
                        <button class="btn btn-disabled btn-round disabled">Disabled Button</button>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-12">
                        <p class="my-0">Rounded disabled:</p>
                        <button class="btn btn-default btn-round" disabled>Default Button</button>
                        <button class="btn btn-primary btn-round" disabled>Primary Button</button>
                        <button class="btn btn-success btn-round" disabled>Success Button</button>
                        <button class="btn btn-info btn-round" disabled>Info Button</button>
                        <button class="btn btn-warning btn-round" disabled>Warning Button</button>
                        <button class="btn btn-danger btn-round" disabled>Danger Button</button>
                        <button class="btn btn-inverse btn-round" disabled>Other Button</button>
                        <button class="btn btn-disabled btn-round disabled" disabled>Disabled Button</button>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-12">
                        <p class="my-0">Icons:</p>
                        <button class="btn btn-default"><i class="icofont icofont-bathtub font-17 mr-2"></i>Default Button</button>
                        <button class="btn btn-primary"><i class="icofont icofont-gift-box font-17 mr-2"></i>Primary Button</button>
                        <button class="btn btn-success"><i class="icofont icofont-check-circled font-17 mr-2"></i>Success Button</button>
                        <button class="btn btn-info"><i class="icofont icofont-animal-snail-alt-1 font-17 mr-2"></i>Info Button</button>
                        <button class="btn btn-warning"><i class="icofont icofont-animal-paw font-17 mr-2"></i>Warning Button</button>
                        <button class="btn btn-danger"><i class="icofont icofont-eye-alt font-17 mr-2"></i>Danger Button</button>
                        <button class="btn btn-inverse"><i class="icofont icofont-robot-face font-17 mr-2"></i>Other Button</button>
                        <button class="btn btn-disabled disabled"><i class="icofont icofont-not-allowed font-17 mr-2"></i>Disabled Button</button>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-12">
                        <p class="my-0">Icons:</p>
                        <button class="btn btn-default btn-outline-default"><i class="icofont icofont-bathtub font-17 mr-2"></i>Default Button</button>
                        <button class="btn btn-primary btn-outline-primary"><i class="icofont icofont-gift-box font-17 mr-2"></i>Primary Button</button>
                        <button class="btn btn-success btn-outline-success"><i class="icofont icofont-check-circled font-17 mr-2"></i>Success Button</button>
                        <button class="btn btn-info btn-outline-info"><i class="icofont icofont-animal-snail-alt-1 font-17 mr-2"></i>Info Button</button>
                        <button class="btn btn-warning btn-outline-warning"><i class="icofont icofont-animal-paw font-17 mr-2"></i>Warning Button</button>
                        <button class="btn btn-danger btn-outline-danger"><i class="icofont icofont-eye-alt font-17 mr-2"></i>Danger Button</button>
                        <button class="btn btn-inverse btn-outline-inverse"><i class="icofont icofont-robot-face font-17 mr-2"></i>Other Button</button>
                        <button class="btn btn-disabled btn-outline-disabled disabled"><i class="icofont icofont-not-allowed font-17 mr-2"></i>Disabled Button</button>

                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-12">
                        <p class="my-0">Social:</p>
                        <a href="#fakelink" class="btn btn-facebook"><i class="icofont icofont-social-facebook mr-2"></i>Share</a>
                        <a href="#fakelink" class="btn btn-facebook"><i class="icofont icofont-social-facebook mr-2"></i></a>
                        <a href="#fakelink" class="btn btn-twitter"><i class="icofont icofont-social-twitter"></i></a>
                        <a href="#fakelink" class="btn btn-linkedin"><i class="icofont icofont-brand-linkedin"></i></a>
                        <a href="#fakelink" class="btn btn-dribbble"><i class="icofont icofont-social-dribble"></i></a>
                        <a href="#fakelink" class="btn btn-google-plus"><i class="icofont icofont-social-google-plus"></i></a>
                        <a href="#fakelink" class="btn btn-instagram"><i class="icofont icofont-social-instagram"></i></a>
                        <a href="#fakelink" class="btn btn-pinterest"><i class="icofont icofont-social-pinterest"></i></a>
                        <a href="#fakelink" class="btn btn-dropbox"><i class="icofont icofont-social-dropbox"></i></a>
                        <a href="#fakelink" class="btn btn-tumblr"><i class="icofont icofont-social-tumblr"></i></a>
                    </div>
                </div>


                <div class="row mb-3">
                    <div class="col-md-12">
                        <p class="my-0">Labels:</p>
                        <div class="label-main">
                            <label class="label label-default">Default Label</label>
                        </div>
                        <div class="label-main">
                            <label class="label label-primary">Primary Label</label>
                        </div>
                        <div class="label-main">
                            <label class="label label-success">Success Label</label>
                        </div>
                        <div class="label-main">
                            <label class="label label-info">Info Label</label>
                        </div>
                        <div class="label-main">
                            <label class="label label-warning">Warning Label</label>
                        </div>
                        <div class="label-main">
                            <label class="label label-danger">Danger Label</label>
                        </div>
                        <div class="label-main">
                            <label class="label label-inverse">Other Label</label>
                        </div>
                        <div class="label-main">
                            <label class="label label-inverse-default">Border Default</label>
                        </div>
                        <div class="label-main">
                            <label class="label label-inverse-primary">Border Primary</label>
                        </div>
                        <div class="label-main">
                            <label class="label label-inverse-success">Border Success</label>
                        </div>
                        <div class="label-main">
                            <label class="label label-inverse-info">Border Label</label>
                        </div>
                        <div class="label-main">
                            <label class="label label-inverse-warning">Border Warning</label>
                        </div>
                        <div class="label-main">
                            <label class="label label-inverse-danger">Border Danger</label>
                        </div>
                        <div class="label-main">
                            <label class="label label-inverse-info-border">Border Inverse</label>
                        </div>

                      <div class="bs-component mb10">
                        <span class="label label-rounded label-default font-10 px-3">Default</span>
                        <span class="label label-rounded label-primary font-10 px-3">Primary</span>
                        <span class="label label-rounded label-success font-10 px-3">Success</span>
                        <span class="label label-rounded label-info font-10 px-3">Info</span>
                        <span class="label label-rounded label-warning font-10 px-3">Warning</span>
                        <span class="label label-rounded label-danger font-10 px-3">Danger</span>
                        <span class="label label-rounded label-alert font-10 px-3">Alert</span>
                        <span class="label label-rounded label-system font-10 px-3">System</span>
                        <span class="label label-rounded label-dark hidden-lg hidden-xl font-10 px-3">Dark</span>
                      </div>
                    </div>
                </div>
            </div>
        </div>
     </div>
   </div>
 </div>
</section>
