    <div class="card">
      <div class="card-body p-4">
        <form #paymentMod="ngForm" (ngSubmit)="onDonate(paymentMod)">
         <div class="row py-4 ">
            <div class="col-lg-12" *ngIf="campaign">
                <h2 class="lagoon font-weight-bold">{{ campaign.current || 0 | currency }}
                    <small class="text-muted gunmetal font-20">of {{ campaign.goal | currency }} goal raised</small>
                </h2>
            </div>
            <div class="col-md-12">
              <div class="rounded-rect-1 w-100">
              	<div [ngStyle]="percentStyle"></div>
              </div>
            </div>
          </div>
        <div class="row card" style="background-color: #fbfbfd;">
          <div class="col-lg-12 mb-2" [class.has-danger]="pickedAmount.errors">
            <h4 class="pt-4 twilight">Contribution to Goal</h4>
            <div class="input-group">
              <input type="number" class="form-control" placeholder="$" aria-label="Search for..." [(ngModel)]="amount" ngModel name="amount" #pickedAmount="ngModel">
              <span class="input-group-btn">
                <button class="btn btn-secondary" type="button">
                  <h6 style="padding-top: 5px;"><b>USD</b></h6>
                </button>
              </span>
            </div>
            <div class="form-control-feedback" *ngIf="!pickedAmount.valid && pickedAmount.errors">
             Must enter an amount.</div>
          </div>
          <div class="row h-calc">
            <div class="col-sm-1">
            </div>
            <div class="col-sm-7">
              <p class="calc"><small>Contribution to host</small></p>
            </div>
            <div class="col-sm-4 ">
              <p class="calc "><small>{{ amount | currency }}</small></p>
            </div>
          </div>
          <div class="row h-calc">
            <div class="col-sm-1">
            </div>
            <div class="col-sm-7">
              <p class="calc"><small>Transaction Fee (2.99% + $0.30)</small></p>
            </div>
            <div class="col-sm-4">
              <p class="calc"><small *ngIf="amount" >{{ amount * 0.0299 + 0.30 | currency }}</small></p>
            </div>
          </div>
          <div class="row h-calc">
            <div class="col-sm-1">
            </div>
            <div class="col-sm-7">
              <p class="calc"><small>Donation for Pride Pocket's expenses (optional)</small></p>
            </div>
            <div class="col-sm-4">
        	  <input type="number" class="form-control" placeholder="$" [(ngModel)]="ppamount" ngModel name="ppamount" #pickedAmount="ngModel">
            </div>
          </div>
          <hr style="color:red;">
          <div class="row">
            <div class="col-sm-1">
            </div>
            <div class="col-sm-7">
              <p><b>Total</b></p>
            </div>
            <div class="col-sm-4">
              <p *ngIf="amount" ><b>{{ ppamount + amount + amount * 0.0299 + 0.30 | currency }}</b></p>
            </div>
          </div>
            <div class="row mt-2">
              <div class="col-md-12">
                <div class="px-2">
                  <div class="input-group mb-2" [class.has-danger]="pickedName.errors">
                    <input type="text" class="form-control" placeholder="Full Name" aria-label="Search for..." [(ngModel)]="name" name="name" minlength="2" maxlength="36" pattern="[a-zA-Z ]+" #pickedName="ngModel">
                  </div>
                  <div class="form-control-feedback" *ngIf="pickedName.errors">
                          Must enter name consisting only of letters and spaces.</div>
                  <div class="input-group mb-2" [class.has-danger]="pickedEmail.errors">
                    <input type="email" class="form-control" placeholder="Email" aria-label="Search for..." ngModel [(ngModel)]="email" name="email" minlength="5" maxlength="36" #pickedEmail="ngModel">
                  </div>
                  <div class="form-control-feedback" *ngIf="pickedEmail.errors">
                          Must enter email.</div>
                  <div class="form-group" [class.has-danger]="pickedMessage.errors">
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Post your support." ngModel [(ngModel)]="message" name="message" #pickedMessage="ngModel" maxlength="1000" ></textarea>
                    <div class="form-control-feedback" *ngIf="pickedMessage.errors">
                          You did something wrong.... I don't know what, but something.
                      </div>
                  </div>
                  <div class="form-check ml-4">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" [(ngModel)]="priv" name="priv" #pickedPrivate="ngModel">
                    <label class="form-check-label" for="defaultCheck1">
                      <small>Post message privately</small>
                    </label>
                  </div>
                </div>
                <div class="row p-2">
                  <div class="col-md-12">
                   <button type="submit" [disabled]="!paymentMod.form.valid" class="btn btn-block btn-default btn-primary btn-lrg">Donate Now!</button>
                </div>
              </div>
              <div class="row p-2">
                  <div class="col-md-12">
                   <p class="text-center font-9">You will be taken to a WePay page to set input payment information!</p>
                </div>
              </div>
            </div>
        </div>
      </div>
      <div class="row p-2">
        <div class="col-md-12">
          <p class="text-center font-9">By clicking "Donate Now" you agree to Pride Pocket's Terms of Service and Privacy Policy. WePay is a certified Level 1 PCI Compliant Service Provider (the highest level), ensuring you have bank-level security while using WePay</p>
        </div>
      </div>
    </form>
  </div>

