<section class="special-brdr"></section>
<section class="p-5">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <img src="http://via.placeholder.com/70x70"/>
      </div>
      <div class="col-md-2">
        <h6>About</h6>
        <ul class="list-unstyled">
          <li>Lorem ipsum</li>
          <li>Consectetur</li>
          <li>Integer molestie</li>
        </ul>
      </div>
      <div class="col-md-2">
        <h6>How it Works</h6>
        <ul class="list-unstyled">
          <li>Lorem ipsum</li>
          <li>Consectetur</li>
          <li>Integer molestie</li>
        </ul>
      </div>
      <div class="col-md-2">
        <h6>Resource Center</h6>
        <ul class="list-unstyled">
          <li>Lorem ipsum</li>
          <li>Consectetur</li>
          <li>Integer molestie</li>
        </ul>
      </div>
      <div class="col-md-4">
        <h6>Keep in Touch</h6>
        <div class="row">
          <div class="col-md-8">
            <div class="form-group">
              <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
              <div class="input-group">
                <div class="input-group-addon">Email</div>
                <input type="text" class="form-control" id="exampleInputAmount" placeholder="rachel@pridepocket.io">
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <button type="button" class="btn float-right btn-pretty-pink font-14">Add Campaign</button>
          </div>
        </div>


      </div>
    </div>
    <div class="row pt-5">
      <div class="col-md-6">
        <small class="text-muted">© 2017 Pride Pocket. All right reserved. Privacy Policy | Terms of Service   </small>
      </div>
    </div>
  </div>
</section>
