<section class="special-brdr"></section>
<section class="p-5">
  <div class="container footer">
    <div class="row">
      <div class="col-md-2 foot-item ">
        <img class="piggy" src="./assets/images/foot-logo.png" style="width:70px"/>
      </div>
      <div class="col-md-2 foot-item">
        <h6>About</h6>
        <ul class="list-unstyled">
          <li class="pb-2">What is Pride Pocket</li>
          <li class="pb-2">Our Story</li>
          <li class="pb-2">Contact Us</li>
        </ul>
      </div>
      <div class="col-md-2 foot-item">
        <h6>How it Works</h6>
        <ul class="list-unstyled">
          <li class="pb-2">FAQ</li>
          <li class="pb-2">Cost</li>
          <li class="pb-2">Use Cases</li>
        </ul>
      </div>
      <div class="col-md-2 foot-item">
        <h6>Resource Center</h6>
        <ul class="list-unstyled">
          <li class="pb-2">LGBTQ+ Blog</li>
          <li class="pb-2">Directory</li>
        </ul>
      </div>
      <div class="col-md-4 foot-item">
        <h6>Keep in Touch</h6>
        <div class="row">
          <div class="col-md-8">
            <div class="form-group">
              <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
              <div class="input-group">
                <div class="input-group-addon">Email</div>
                <input type="text" class="form-control" id="exampleInputAmount" placeholder="rachel@pridepocket.io">
              </div>
            </div>
          </div>
          <div class="col-md-4 foot-item">
            <button class="btn btn-warning font-14" style="height:70%;">Subscribe >></button>
          </div>
        </div>


      </div>
    </div>
    <div class="row pt-5 foot-item">
      <div class="col-md-6">
        <small class="text-muted">© 2017 Pride Pocket. All right reserved. <a style="text-decoration: none; color: #636c72!important" href="http://pridepocket.org/privacy/">Privacy Policy</a> | <a style="text-decoration: none; color: #636c72!important" href="http://pridepocket.org/terms-of-use">Terms of Service</a>   </small>
      </div>
    </div>
  </div>
</section>
