<section class="bg-ghetto-white p-3">
  <div class="container my-5">
    <section>
      <div class="row my-4">
        <div class="col-lg-1">
        </div>
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <div class="container row">
                <div class="col-lg-9">
                  <div class="row">
                    <div class="col-md-12">
                      <h2>Edit Campaign</h2>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <label><b>Details</b></label>
                    </div>
                  </div>
                  <form #editCamp="ngForm" (ngSubmit)="onEditCamp(editCamp)">
                  <div class="row" [class.has-danger]="pickedCampName.errors">
                    <div class="col-md-12">
                      <input type="text" class="form-control" placeholder="Campaign Name" [(ngModel)]="campName" name="campName" #pickedCampName="ngModel" maxlength="36" minlength="12" ngModel #pickedCampName="ngModel" name="campName">
                      <div class="form-control-feedback" *ngIf="pickedCampName.errors">
                          Sorry, must be longer than 12 and shorter 36 characters.</div>
                    </div>
                  </div>
                  <div class="row mt-2" [class.has-danger]="pickCampType.errors">
                    <div class="col-md-12">
                      <div class="input-group mb-3">
                        <select class="custom-select" id="inputGroupSelect02" ngModel style="width: 100%;" [(ngModel)]="campType" name="campType" #pickCampType="ngModel" required>
                          <option>Campaign Type</option>
                          <option value="Medical">Medical</option>
                          <option value="Legal">Legal</option>
                          <option value="Family">Family</option>
                          <option value="Weddings">Weddings</option>
                          <option value="Emergency">Emergency</option>
                          <option value="Celebrations">Celebrations</option>
                          <option value="Events">Events</option>
                        </select>
                        <div class="form-control-feedback" *ngIf="pickCampType.errors">
                          Sorry, must select a type.</div>
                      </div>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-md-12">
                      <label><b>Campaign Goal</b></label>
                    </div>
                  </div>
                  <div class="row" [class.has-danger]="pickedGoal.errors">
                    <div class="col-md-12">
                      <div class="input-group mb-3">
                        <input type="text" pattern="[0-9]+" class="form-control" placeholder="$ 0" aria-label="Amount" aria-describedby="basic-addon2" [(ngModel)]="goal" ngModel name="goal" #pickedGoal="ngModel">
                        <div class="input-group-addon">
                          <span class="input-group-text" id="basic-addon2">USD</span>
                        </div>
                      </div>
                    </div>
                    <div class="form-control-feedback" *ngIf="pickedGoal.errors">
                          Sorry, only numbers.</div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <p class="text-muted">The gifters whom provide funds will be responsible for a 2.9% WePay Fee + $0.30 for the transaction..</p>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-md-8">
                      <label><b>Campaign End Date</b></label>
                    </div>
                    <div class="col-md-4">
                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <div class="input-group-text">
                            <input type="checkbox" aria-label="Checkbox for following text input" [(ngModel)]="noDate" name="noDate" #pickedDate="ngModel">
                          </div>
                        </div>
                        <p class="text-muted pl-3">Don't End Campaign</p>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="input-group">
                        <input class="w-100 p-2" id="meeting" type="date" value="2011-01-13"
                        [(ngModel)]="date" name="date" #pickedDate="ngModel"/>
                        <div class="input-group-addon">
                          <span class="input-group-text"><i class="icofont icofont-ui-calendar"></i></span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-md-12">
                      <label><b>Campaign Banner</b></label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-12 ">
                      <img class="ban-img" src="http://via.placeholder.com/600x150" />
                    </div>
                  </div>
                  <div class="row mt-2">
                    <div class="col-sm-7 switch-txt">
                      <p class="text-muted">Recommended size is 600px by 220px with a resolution of 72DPI</p>
                    </div>
                    <div class="col-md-3 col-switch">
                      <button type="button" class="btn btn-sm btn-primary mb-4 float-right">Choose File</button>
                    </div>
                  </div>
                  <hr>
                  <div class="row mt-2">
                    <div class="col-md-12">
                      <label><b>Description</b></label>
                    </div>
                  </div>
                  <div class="row mt-2" [class.has-danger]="pickedMessage.errors">
                    <div class="col-md-12">
                        <div class="form-group">
                          <textarea class="form-control" pattern="[a-zA-Z0-9 ]+" id="exampleFormControlTextarea1" rows="3" placeholder="Tell your friends and family how they can help" [(ngModel)]="welMessage" ngModel name="message" minlength="36" maxlength="1000" #pickedMessage="ngModel"></textarea>
                        </div>
                    </div>
                    <div class="form-control-feedback" *ngIf="pickedMessage.errors">
                          Must be at least 36 characters</div>
                  </div>
                  <hr>
                  <div class="row mt-2">
                    <div class="col-md-12">
                      <label><b>Campaign Wishlist (optional)</b></label>
                    </div>
                  </div>
                  <div class="row mt-2">
                    <div class="col-md-12">
                      <p class="text-muted">Sometimes people will prefer to buy a gift rather than gift money. Let them know what else they can gift to you. Pro tip: paste a link to the item on Amazon!</p>
                    </div>
                  </div>
                  <div class="row mt-2">
                    <div class="col-md-12">
                      <input type="text" class="form-control" placeholder="Item 1" [(ngModel)]="item1" name="item1" #pickedItem1="ngModel">
                    </div>
                  </div>
                  <div class="row mt-2">
                    <div class="col-md-12">
                      <input type="text" class="form-control" placeholder="Item 2" [(ngModel)]="item2" name="item2" #pickedItem2="ngModel">
                    </div>
                  </div>
                  <div class="row mt-2">
                    <div class="col-md-12">
                      <input type="text" class="form-control" placeholder="Item 3" [(ngModel)]="item3" name="item3" #pickedItem3="ngModel">
                    </div>
                  </div>
                  <div class="row mt-2">
                    <div class="col-md-12">
                      <button type="button" class="btn btn-sm btn-primary mb-4 float-right">+ Another Item</button>
                    </div>
                  </div>
                  <hr>
                  <div class="row mt-2">
                    <div class="col-md-12">
                      <label><b>Thank You Message</b></label>
                    </div>
                  </div>
                  <div class="row mt-2">
                    <div class="col-md-12">
                      <p class="text-muted">Once someone has contributed to your campaign they will receive this thank you message.<p>
                    </div>
                  </div>
                  <div class="row mt-2">
                    <div class="col-md-12">
                        <div class="form-group">
                          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Thank everyone for their help." [(ngModel)]="thankYou" name="thankYou" #pickedThanks="ngModel"></textarea>
                        </div>
                    </div>
                  </div>
                  <hr>
                  <div class="row mt-2">
                    <div class="col-md-12">
                      <div class="border bg-light text-dark">
                        <label><b>Invite Friends & Family to Contribue</b></label>
                        <div class="form-group">
                         <input type="text" class="form-control" placeholder="Email" [(ngModel)]="fEmail" name="fEmail" #pickedFEmail="ngModel">
                        </div>
                        <div class="form-group">
                          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Let everyone know about your campaign and how they can help!" [(ngModel)]="eMessage" name="eMessage" #pickedEMessage="ngModel"></textarea>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row mt-2">
                    <div class="col-sm-10 switch-txt">
                      <p class="">Display social sharing icons on campaign page</p>
                    </div>
                    <div class="col-sm-2 col-switch">
                      <div class="pg-switch">
                        <label class="switch">
                          <input type="checkbox" [(ngModel)]="socialShare" name="socialShare" #pickedCheck="ngModel">
                          <span class="slider round">
                          </span>
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="row mt-2">
                    <div class="col-md-12">
                      <label><b>Privacy Message</b></label>
                    </div>
                  </div>
                  <div class="row mt-2">
                    <div class="col-md-12">
                      <p>We understand that privacy is of utmost important to our community. Therefore, we have implemented three options for security ranging from public campaigns to private.</p>
                    </div>
                  </div>
                  <div class="row mt-2">
                    <div class="col-sm-4 radio-col">
                      <button type="button" class="radio btn btn-primary btn-outline-primary btn-round active" data-toggle="button" aria-pressed="false" autocomplete="off">
                      Totally Public
                      </button>
                    </div>
                    <div class="col-sm-4 radio-col">
                      <button type="button" class="radio btn btn-primary btn-outline-primary btn-round" data-toggle="button" aria-pressed="false" autocomplete="off">
                      Link Required
                      </button>
                    </div>
                    <div class="col-sm-4 radio-col">
                      <button type="button" class="radio btn btn-primary btn-outline-primary btn-round" data-toggle="button" aria-pressed="false" autocomplete="off">
                      Totally Private
                      </button>
                    </div>
                  </div>
                  <div class="row mt-4">
                    <div class="col-md-12">
                      <button type="submit" class="btn font-17 btn-default btn-lg btn-block">Launch Campaign</button>
                    </div>
                  </div>
                  <div class="row mt-4">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                      <a href="#" class="string-link" style="padding-left:28%;">Save For Later</a>
                    </div>
                    <div class="col-md-4"></div>
                  </div>
                 </form>
                </div>
                <div class="col-lg-3">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>