<div class="card">
	<img class="card-img-top" [src]="campaign.banner" alt="campaign banner image" />
	<div class="card-block camp-card">
		<div class="row pb-2">
			<div class="col-lg-12">
				<div class="label-main">
					<label class="label label-rounded label-warning font-9 px-3 py-6 text-uppercase" >{{ campaign.type }}</label>
				</div>
			</div>
		</div>
		<h5 class="card-title twilight">{{ campaign.name }}</h5>
		<p class="card-text">{{ campaign.description }}</p>
		<div class="row">
			<div class="col-md-12">
				<h2 class="lagoon font-weight-bold">${{ campaign.current }}
					<small class="text-muted gunmetal font-20" > of ${{ campaign.goal }} goal raised</small>
				</h2>
			</div>
		</div>
		<div class="col-md-12" >
			<div class="rounded-rect-1 w-100"></div>
		</div>
		<p class="card-text"><small class="text-muted">Campaign runs from {{ campaign.begin | date }} to {{ campaign.end | date }}</small></p>
		<div class="text-muted">
			<div>Privacy: {{ campaign.privacy }}</div>
			<div>
				<div>Affiliate link:</div>
				<div *ngFor="let key of objectkeys(campaign.affiliate_links)" >{{ key }}: {{ campaign.affiliate_links[key] }}</div>
			</div>
			<div>
				<div>campaign has been shared to (platform, views):</div>
				<div *ngFor="let key of objectkeys(campaign.shared)" >{{ key }}: {{ campaign.shared[key] | json }}</div>
			</div>
			<div>is this campaign is published? {{ campaign.published }} </div>
		</div>
	</div>
</div>