<section class="bg-ghetto-white p-3">
  <div class="container my-5">
    <section>
      <div class="row my-4">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <div class="row p-4">
                  <div class="col-lg-12">
                    <h2>My Profile</h2>
                  </div>
                </div>
                <div class="row my-4">
                  <div class="col-md-12">
                    <ul class="nav nav-tabs" role="tablist">
                      <li class="nav-item">
                        <a class="nav-link border-0 active font-14" style="color:#7c8c9a;" data-toggle="tab" href="#tab1" role="tab">BASIC INFO</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link border-0 font-14" style="color:#7c8c9a;" data-toggle="tab" href="#tab2" role="tab">PAYMENT DETAILS</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link border-0 font-14" style="color:#7c8c9a;" data-toggle="tab" href="#tab3" role="tab">NOTIFICATION DETAILS</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link border-0 font-14" style="color:#7c8c9a;" data-toggle="tab" href="#tab4" role="tab">DONATION HISTORY</a>
                      </li>
                    </ul>
                  </div>

                </div>
                <div class="row">
                  <div class="col-lg-6">
                   <form class="mr-5 mt-4">
                    <div class="form-group row">
                      <div class="col-md-12 ">
                        <label><b>Your Name</b></label>
                        <input type="text" class="form-control" placeholder="Full Name" >
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <button type="button" class="btn btn-info mb-2 float-right" style="background-color: #e9ecf4; border: #e9ecf4;  color: #424958;">+ Another Person</button>
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-md-12 ">
                        <label><b>Update Email</b></label>
                        <input type="email" class="form-control" placeholder="Update Email" >
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-md-12 ">
                        <label><b>Update Password</b></label>
                        <input type="password" class="form-control" placeholder="Update Password" >
                        <input type="password" class="form-control mt-2" placeholder="Confirm Password" >
                      </div>
                    </div>
                  </form>
                </div>
                <div class="col-lg-6">
                    <div class="row pt-4">
                      <div class="col-md-12">
                        <label><b>Profile Picture</b></label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-2">
                        <img src="http://via.placeholder.com/70x70" />
                      </div>
                      <div class="col-md-10">
                        <p class="text-muted">Recommended size is 150px by 150px with a resolution of 72DPI</p>
                        <button class="btn btn-info" style="background-color: #e9ecf4; border: #e9ecf4;  color: #424958;"type="submit">Choose File</button>
                      </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 mt-4">
                          <label><b>Deactivate My Account</b></label>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-md-12">
                          <button class="btn btn-danger btn-outline-danger"><i class="icofont icofont-warning"></i>Deactivate</button>
                        </div>
                    </div>
                </div>
              </div>
          </div>
        </div>
      </div>
     </div>
    </section>
  </div>
</section>

