<div class="bg-ghetto-white p-3">
  <div class="container my-5">
    <!-- <div> -->
      <div class="row my-4">
        <div class="col-lg-1 col-lg-push-11">
        </div>
        <div class="col-lg-11 col-lg-pull-1">
          <div class="card">
            <div class="card-body">
              <div class="container row p-4" >
                <div class="container">
                  <div class="col-lg-12">
                    <h2>My Profile</h2>
                  </div>
                </div>
                <div class="container ">
                  <div class="row">
                    <div class="col-md-10">
                      <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                          <a class="nav-link border-0 active" style="color:#7c8c9a;" data-toggle="tab" href="#tab1" role="tab">BASIC INFO</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link border-0" style="color:#7c8c9a;" data-toggle="tab" href="#tab2" role="tab">PAYMENT DETAILS</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link border-0" style="color:#7c8c9a;" data-toggle="tab" href="#tab3" role="tab">NOTIFICATION DETAILS</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link border-0" style="color:#7c8c9a;" data-toggle="tab" href="#tab4" role="tab">DONATION HISTORY</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                <div class="row">
                  <div class="col-lg-6">
                   <form class="mr-5 mt-4">
                    <div class="form-group row">
                      <div class="col-md-12 ">
                        <label><b>Your Name</b></label>
                        <input type="text" class="form-control" placeholder="Full Name" >
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <button type="button" class="btn btn-lg btn-primary mb-4 float-right">+ Another Person</button>
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-md-12 ">
                        <label><b>Your Name</b></label>
                        <input type="text" class="form-control" placeholder="Full Name" >
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-md-12 ">
                        <label><b>Update Email</b></label>
                        <input type="email" class="form-control" placeholder="Update Email" >
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-md-12 ">
                        <label><b>Update Password</b></label>
                        <input type="password" class="form-control" placeholder="Update Password" >
                        <input type="password" class="form-control mt-2" placeholder="Confirm Password" >
                      </div>
                    </div>
                  </form>
                </div>
                <div class="col-lg-6">
                  <div class="container pt-5">
                    <div class="row">
                      <div class="col-md-12">
                        <label><b>Profile Picture</b></label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-1">
                        <img src="http://via.placeholder.com/70x70" />
                      </div>
                      <div class="col-sm-11">
                        <p class="text-muted pr-2">Recommended size:150px by 150px</p>
                        <button class="btn btn-sm btn-primary" type="submit">Choose File</button>
                     </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 mt-4">
                          <label><b>Deactivate My Account</b></label>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-md-12">
                          <button type="button" class="btn btn-outline-danger">Deactivate</button>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


