<section>
    <div class="container my-4">
        <div class="row">
          <div class="col-md-10">
            <h2 class="primary font-weight-bold">Pride Pocket Campaigns</h2>
          </div>
          <div class="col-md-2">
            <button type="button" class="add-campaign">Add Campaign</button>
          </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-2">
                                <h5>Filter by:</h5>
                            </div>
                            <div class="col-md-8">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Categories
                                </button>
                                <div class="dropdown-menu multi-column columns-2" aria-labelledby="dropdownMenuButton">
                                    <div class="form-check dropdown-item">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" value="">
                                            Select All
                                        </label>
                                    </div>
                                    <div class="dropdown-divider"></div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="multi-column-dropdown">
                                                <div class="form-check dropdown-item">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" value="">
                                                        Medical
                                                    </label>
                                                </div>
                                                <div class="form-check dropdown-item">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" value="">
                                                        Legal
                                                    </label>
                                                </div>
                                                <div class="form-check dropdown-item">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" value="">
                                                        Family Planning
                                                    </label>
                                                </div>
                                                <div class="form-check dropdown-item">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" value="">
                                                        Wedding
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="multi-column-dropdown">
                                                <div class="form-check dropdown-item">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" value="">
                                                        Emergency
                                                    </label>
                                                </div>
                                                <div class="form-check dropdown-item">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" value="">
                                                        Projects
                                                    </label>
                                                </div>
                                                <div class="form-check dropdown-item">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" value="">
                                                        Transitioning
                                                    </label>
                                                </div>
                                                <div class="form-check dropdown-item">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" value="">
                                                        Other
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 dropdown ">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Sort By
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Newest</a>
                                    <a class="dropdown-item" href="#">Popularity</a>
                                    <a class="dropdown-item" href="#">Ending Soon</a>
                                    <a class="dropdown-item" href="#">Closest to Goal</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        <div class="container">
            <div class="row my-3">
                <div class="col-md-4">
                    <div class="blog-item-box">
                        <div class="blog-img">
                            <img class="img-fluid" src="http://via.placeholder.com/800x600" alt>
                        </div>
                        <div class="blog-detail row p-4">
                            <div class="col-md-12">
                                <button type="button" class="btn white text-uppercase text-white btn-secondary btn-rounded btn-sm" >Family Planning</button>
                            </div>
                            <br>
                            <div class="col-md-12">
                                <h4 class="text-purple">Sara & Jamie Want to Start a Family</h4>
                            </div>
                            <div class="col-md-12">
                                <p>Hello everyone! As you know, starting a family can be expensive. Well, like most LGBTQ families, having a baby is a little more...</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="blog-item-box">
                        <div class="blog-img">
                            <img class="img-fluid" src="http://via.placeholder.com/800x600" alt>
                        </div>
                        <div class="blog-detail row p-4">
                            <div class="col-md-12">
                                <button type="button" class="btn white text-uppercase text-white btn-secondary btn-rounded btn-sm" >Emergency</button>
                            </div>
                            <br>
                            <div class="col-md-12">
                                <h4>Laura lost her job for being gay</h4>
                            </div>
                            <div class="col-md-12">
                                <p>As some of you know, my sister Laura came out recently. Unfortunately, in the state of Arkansas once the administration caught wind they let her go for her "lifestyle choices"...</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="blog-item-box">
                        <div class="blog-img">
                            <img class="img-fluid" src="http://via.placeholder.com/800x600" alt>
                        </div>
                        <div class="blog-detail row p-4">
                            <div class="col-md-12">
                                <button type="button" class="btn white text-uppercase text-white btn-secondary btn-rounded btn-sm" >Transition</button>
                            </div>
                            <br>
                            <div class="col-md-12">
                                <h4>Help Caleb pay for top surgery</h4>
                            </div>
                            <div class="col-md-12">
                                <p>I'm finally getting top surgery! My insurance won't cover it at all so I'm going to have to pay out of pocket. My birthday is coming up, so you can donate here instead of get me anything...</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row my-3">
                <div class="col-md-4">
                    <div class="blog-item-box">
                        <div class="blog-img">
                            <img class="img-fluid" src="http://via.placeholder.com/800x600" alt>
                        </div>
                        <div class="blog-detail row p-4">
                            <div class="col-md-12">
                                <button type="button" class="btn white text-uppercase text-white btn-secondary btn-rounded btn-sm" >Emergency</button>
                            </div>
                            <br>
                            <div class="col-md-12">
                                <h4>I was kicked out of my parents home</h4>
                            </div>
                            <div class="col-md-12">
                                <p>Hey guys. So, as you might know...I came out as trans to my friends earlier this month. Word got around to my parents before I could speak with them. Let's just say...they didn't take it...</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="blog-item-box">
                        <div class="blog-img">
                            <img class="img-fluid" src="http://via.placeholder.com/800x600" alt>
                        </div>
                        <div class="blog-detail row p-4">
                            <div class="col-md-12">
                                <button type="button" class="btn white text-uppercase text-white btn-secondary btn-rounded btn-sm" >Legal</button>
                            </div>
                            <br>
                            <div class="col-md-12">
                                <h4>In life's darkest moments...</h4>
                            </div>
                            <div class="col-md-12">
                                <p>Nearly 2 months since Jake went into a coma and I have been stuck in a neverending legal battle about his medical care. He would not want to be on a ventilator. As his husband...</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="blog-item-box">
                        <div class="blog-img">
                            <img class="img-fluid" src="http://via.placeholder.com/800x600" alt>
                        </div>
                        <div class="blog-detail row p-4">
                            <div class="col-md-12">
                                <button type="button" class="btn white text-uppercase text-white btn-secondary btn-rounded btn-sm" >Emergency</button>
                            </div>
                            <br>
                            <div class="col-md-12">
                                <h4>Laura lost her job for being gay</h4>
                            </div>
                            <div class="col-md-12">
                                <p>As some of you know, my sister Laura came out recently. Unfortunately, in the state of Arkansas once the administration caught wind they let her go for her "lifestyle choices"...</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <!-- </div> -->
<!-- </section> -->
