<section class="bg-ghetto-white p-3">
	<div class="container my-5">
		<section>
			<div class="row my-4">
				
				<div class="col-lg-1"></div>
				
				<div class="col-lg-12">
					<div class="card">
						<div class="card-body">
							<div class="container row">
								<div class="col-lg-9">
									<div class="row">
										<div class="col-md-12">
											<h2>Add a Campaign</h2>
										</div>
									</div>
									<form [formGroup]="createdForm" (ngSubmit)="createCampaign()">
										<div class="row">
											<div class="col-md-12">
												<div class="form-group" >
													<label class="center-block" style="width:100%" >Campaign Name:
														<input
															id="name"
															class="form-control"
															formControlName=name
														>
														<div *ngIf="name.invalid && (name.dirty || name.touched)" class="has-danger" >
															<div class="form-control-feedback" *ngIf="name.errors.required">
																Your campaign must have a name
															</div>
															<div class="form-control-feedback" *ngIf="name.errors.minlength">
																Your campaign name must be longer than 12 characetrs
															</div>
															<div class="form-control-feedback" *ngIf="name.errors.maxlength">
																Your campaign name must be shorter than 36 characetrs
															</div>
															<div class="form-control-feedback" *ngIf="name.errors.pattern">
																Your campaign name can only have the letters A-Z and the numbers 0-9 in it; no special characters
															</div>
														</div>
													</label>
												</div>
											</div>
										</div>
										<div class="row mt-2">
											<div class="col-md-12">
												<div class="form-group" >
													<label class="center-block" style="width:100%" >Campaign Type:
														<select
															class="form-control"
															style="height:inherit"
															id="type"
															formControlName="type"
														>
															<option value="Medical">Medical</option>
															<option value="Legal">Legal</option>
															<option value="Family">Family</option>
															<option value="Weddings">Weddings</option>
															<option value="Emergency">Emergency</option>
															<option value="Celebrations">Celebrations</option>
															<option value="Events">Events</option>
														</select>
														<div *ngIf="type.invalid && (type.dirty || type.touched)" class="has-danger" >
															<div class="form-control-feedback" *ngIf="type.errors.required" >
																You must select a campaign type
															</div>
														</div>
													</label>
												</div>
											</div>
										</div>
										
										<hr>
										
										<div class="row">
											<div class="col-md-12">
												<label><b>Campaign Goal:</b>
													<div class="input-group mb-3">
														<div class="input-group-addon">
															<span class="input-group-text" id="basic-addon2" >$</span>
														</div>
														<input
															type="number"
															class="form-control"
															placeholder="0"
															formControlName="goal"
															id="goal"
														>
														<div class="input-group-addon">
															<span class="input-group-text" id="basic-addon2">
																USD
															</span>
														</div>
													</div>
													<div *ngIf="goal.invalid && (goal.dirty || goal.touched)" class="has-danger" >
														<div class="form-control-feedback" *ngIf="goal.errors.required">
															You must set a goal of at least a dollar!
														</div>
													</div>
												</label>
											</div>
										</div>
										<div class="row">
											<div class="col-md-12">
												<p class="text-muted">
													Important note: gifters who provide funds will be responsible for a 2.9% WePay Fee + $0.30 for the transaction!!
												</p>
											</div>
										</div>
										
										<hr>
										
										<div class="row">
											<div class="col-md-12">
												<label style="width:100%" ><b>Campaign End Date:</b>
													<div class="input-group mb-3">
														<div class="input-group-text">
															<input
																type="checkbox"
																aria-label="Checkbox for following text input"
																formControlName="noDate"
																name="noDate"
															>
														</div>
														<p class="text-muted pl-3">
															Don't End Campaign
														</p>
													</div>
													<div class="input-group">
														<input
															class="form-control"
															style="flex-direction:row; align-items:center"
															id="end"
															type="date"
															formControlName="end"
														>
														<div class="input-group-addon">
															<i class="icofont icofont-ui-calendar"></i>
														</div>
													</div>
													<div *ngIf="end.invalid && (end.dirty || end.touched)" class="has-danger" >
														<div class="form-control-feedback" *ngIf="end.errors.required">
															If you don't wish for your campaign to run forever, you must pick a date to end it on
														</div>
													</div>
												</label>
											</div>
										</div>
										
										<hr>
										
										<div class="row">
											<div class="col-md-12">
												<label><b>Campaign Banner:</b>
													<img class="ban-img" src="http://via.placeholder.com/600x150" />
													<div class="row mt-2">
														<div class="col-sm-9 switch-txt">
															<p class="text-muted">
																Recommended size is 600px by 220px with a resolution of 72DPI
															</p>
														</div>
														<div class="col-md-3 col-switch">
															<button type="button" class="btn btn-sm btn-primary mb-4 float-right">
																Choose File
															</button>
														</div>
													</div>
												</label>
											</div>
										</div>

										<hr>
										
										<div class="row mt-2">
											<div class="col-md-12">
												<label style="width:100%" ><b>Description</b>
													<div class="form-group">
														<textarea
															class="form-control"
															rows="3"
															placeholder="Tell your friends and family how they can help"
															id="description"
															formControlName="description"
														></textarea>
													</div>
													<div *ngIf="description.invalid && (description.dirty || description.touched)" class="has-danger" >
														<div class="form-control-feedback" *ngIf="description.errors.minlength">
															Must be at least 36 characters
														</div>
														<div class="form-control-feedback" *ngIf="description.errors.maxlength">
															Cannot be more than 1024 characters
														</div>
														<div class="form-control-feedback" *ngIf="description.errors.pattern">
															The description may only contain letters A-Z and numbers 0-9
														</div>
													</div>
												</label>
											</div>
										</div>









										<div class="row mt-4">
											<div class="col-md-12">
												<button
													type="submit"
													(click)="createdForm.active(true)"
													class="btn font-17 btn-default btn-lg btn-block"
													[disabled]="!createdForm.valid"
												>
												  	Launch Campaign
											  	</button>
											</div>
										</div>
										<div class="row mt-4">
											<div class="col-md-12">
												<button
													type="submit"
													(click)="createdForm.active(false)"
													class="btn font-17 btn-default btn-lg btn-block"
													[disabled]="!createdForm.valid"
												>
												  	Save for Later
											  	</button>
										  	</div>
										</div>
									</form>
								</div>
								<div>{{ createdForm.value | json }}</div>
								<div class="col-lg-3"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</section>


<!--







										<hr>
										<div class="row mt-2">
											<div class="col-md-12">
												<label>
													<b>
														Campaign Wishlist (optional)
													</b>
												</label>
											</div>
										  </div>
										  <div class="row mt-2">
											<div class="col-md-12">
												<p class="text-muted">
													Sometimes people will prefer to buy a gift rather than gift money.
													Let them know what else they can gift to you. Pro tip: paste a link to the item on Amazon!
												</p>
											</div>
										</div>
										<div class="row mt-2" [class.has-danger]="pickedItem1.errors">
											<div class="col-md-12">
												<input
													pattern="^(([^:/?#]+):)?(//([^/?#]*))?([^?#]*)(\?([^#]*))?(#(.*))?"
													type="url"
													class="form-control"
													placeholder="Item 1"
													[(ngModel)]="item1"
													name="item1"
													ngModel
													#pickedItem1="ngModel"
												>
											</div>
											<div class="form-control-feedback" *ngIf="pickedItem1.errors">
												 Should be an url
											 </div>
										</div>
										<div class="row mt-2">
											<div class="col-md-12">
												<button type="button" class="btn btn-sm btn-primary mb-4 float-right">
													+ Another Item
												</button>
											</div>
										  </div>
										<hr>
										<div class="row mt-2">
											<div class="col-md-12">
												<label>
													<b>
														Thank You Message
													</b>
												</label>
											</div>
										</div>
										<div class="row mt-2">
											<div class="col-md-12">
												<p class="text-muted">
													Once someone has contributed to your campaign they will receive this thank you message.
												<p>
											</div>
										</div>
										<div class="row mt-2" [class.has-danger]="pickedThanks.errors">
											<div class="col-md-12">
												<textarea
													class="form-control"
													id="exampleFormControlTextarea1"
													rows="3"
													placeholder="Thank everyone for their help."
													minlength="5"
													maxlength="1000"
													pattern="[a-zA-Z0-9 ]+"
													ngModel [(ngModel)]="thankYou"
													name="thankYou"
													#pickedThanks="ngModel"
												></textarea>
											</div>
											<div class="form-control-feedback" *ngIf="pickedThanks.errors && pickedThanks.dirty">
												Only alphabric letters and 1000 letter limit
											</div>
										</div>
										<hr>
										<div class="row mt-2">
											<div class="col-md-12">
												<div class="border bg-light text-dark">
													<label>
														<b>
															Invite Friends & Family to Contribue
														</b>
													</label>
													<div class="form-group" [class.has-danger]="pickedFEmail.errors">
														<input
															type="email"
															class="form-control"
															placeholder="Email"
															[(ngModel)]="fEmail"
															ngModel
															name="fEmail"
															#pickedFEmail="ngModel"
														>
													</div>
													<div class="form-control-feedback" *ngIf="pickedItem2.errors">
														Needs to be a valid email
													</div>
													<div class="form-group" [class.has-danger]="pickedEMessage.errors">
														<textarea
															class="form-control"
															id="exampleFormControlTextarea1"
															rows="3"
															placeholder="Let everyone know about your campaign and how they can help!"
															[(ngModel)]="eMessage"
															maxlength="1000"
															minlength="12"
															ngModel
															pattern="[a-zA-Z0-9 ]+"
															name="eMessage"
															#pickedEMessage="ngModel"
														></textarea>
													</div>
													<div class="form-control-feedback" *ngIf="pickedItem2.errors">
														must be longer than 12 characters
													</div>
												</div>
											</div>
										</div>
										<div class="row mt-2">
											<div class="col-sm-10 switch-txt">
												<p>
													Display social sharing icons on campaign page
												</p>
											</div>
											<div class="col-sm-2 col-switch">
												<div class="pg-switch">
													<label class="switch">
														<input
															type="checkbox"
															[(ngModel)]="socialShare"
															name="socialShare"
															#pickedCheck="ngModel"
														>
														<span class="slider round"></span>
													</label>
												</div>
											</div>
										</div>
										<div class="row mt-2">
											<div class="col-md-12">
											  <label><b>Privacy Message</b></label>
											</div>
										</div>
										<div class="row mt-2">
											<div class="col-md-12">
												<p>
													We understand that privacy is of utmost important to our community.
													Therefore, we have implemented three options for security ranging from public campaigns to private.
												</p>
											</div>
										</div>
										<div class="row mt-2">
											<div class="col-sm-4 radio-col">
												<button
													type="button"
													class="radio btn btn-primary btn-outline-primary btn-round active"
													data-toggle="button"
													aria-pressed="false"
													autocomplete="off"
												>
													Totally Public
												</button>
											</div>
											<div class="col-sm-4 radio-col">
												<button
													type="button"
													class="radio btn btn-primary btn-outline-primary btn-round"
													data-toggle="button"
													aria-pressed="false"
													autocomplete="off"
												>
													Link Required
												</button>
											</div>
											<div class="col-sm-4 radio-col">
												<button
													type="button"
													class="radio btn btn-primary btn-outline-primary btn-round"
													data-toggle="button"
													aria-pressed="false"
													autocomplete="off"
												>
													Totally Private
												</button>
											</div>
										</div>
										
-->