<section class="bg-ghetto-white p-3">
  <div class="container my-5">
    <section>
      <div class="row my-4">
        <div class="col-lg-1">
        </div>
        <div class="col-lg-10">
          <div class="card">
            <div class="card-body">
              <div class="container row">
                <div class="col-lg-9">
                  <div class="row">
                    <div class="col-md-12">
                      <h2>Add a Campaign</h2>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <label><b>Details</b></label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <input type="text" class="form-control" placeholder="Campaign Name" >
                    </div>
                  </div>
                  <div class="row mt-2">
                    <div class="col-md-12">
                      <div class="input-group mb-3">
                        <select class="custom-select" id="inputGroupSelect02" style="width: 100%;">
                          <option selected>Campaign Type</option>
                          <option value="1">Medical</option>
                          <option value="2">Legal</option>
                          <option value="3">Family</option>
                          <option value="4">Weddings</option>
                          <option value="5">Emergency</option>
                          <option value="6">Celebrations</option>
                          <option value="7">Events</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-md-12">
                      <label><b>Campaign Goal</b></label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="$ 0" aria-label="Amount" aria-describedby="basic-addon2">
                        <div class="input-group-addon">
                          <span class="input-group-text" id="basic-addon2">USD</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <p class="text-muted">The gifters whom provide funds will be responsible for a 2.9% PayPal Fee + $0.30 for the transaction..</p>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-md-8">
                      <label><b>Campaign End Date</b></label>
                    </div>
                    <div class="col-md-4">
                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <div class="input-group-text">
                            <input type="checkbox" aria-label="Checkbox for following text input">
                          </div>
                        </div>
                        <p class="text-muted">Campaign End Date</p>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="input-group">
                        <input class="w-100 p-2" id="meeting" type="date" value="2011-01-13"/>
                        <div class="input-group-addon">
                          <span class="input-group-text"><i class="icofont icofont-ui-calendar"></i></span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-md-12">
                      <label><b>Campaign Banner</b></label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-12 ">
                      <img class="ban-img" src="http://via.placeholder.com/600x150" />
                    </div>
                  </div>
                  <div class="row mt-2">
                    <div class="col-sm-7 switch-txt">
                      <p class="text-muted">Recommended size is 600px by 220px with a resolution of 72DPI</p>
                    </div>
                    <div class="col-md-3 col-switch">
                      <button type="button" class="btn btn-sm btn-primary mb-4 float-right">Choose File</button>
                    </div>
                  </div>
                  <hr>
                  <div class="row mt-2">
                    <div class="col-md-12">
                      <label><b>Welcome Message</b></label>
                    </div>
                  </div>
                  <div class="row mt-2">
                    <div class="col-md-12">
                      <form>
                        <div class="form-group">
                          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Tell your friends and family how they can help"></textarea>
                        </div>
                      </form>
                    </div>
                  </div>
                  <hr>
                  <div class="row mt-2">
                    <div class="col-md-12">
                      <label><b>Campaign Wishlist (optional)</b></label>
                    </div>
                  </div>
                  <div class="row mt-2">
                    <div class="col-md-12">
                      <p class="text-muted">Sometimes people will prefer to buy a gift rather than gift money. Let them know what else they can gift to you. Pro tip: paste a link to the item on Amazon!</p>
                    </div>
                  </div>
                  <div class="row mt-2">
                    <div class="col-md-12">
                      <input type="text" class="form-control" placeholder="Item 1" >
                    </div>
                  </div>
                  <div class="row mt-2">
                    <div class="col-md-12">
                      <input type="text" class="form-control" placeholder="Item 2" >
                    </div>
                  </div>
                  <div class="row mt-2">
                    <div class="col-md-12">
                      <input type="text" class="form-control" placeholder="Item 3" >
                    </div>
                  </div>
                  <div class="row mt-2">
                    <div class="col-md-12">
                      <button type="button" class="btn btn-sm btn-primary mb-4 float-right">+ Another Item</button>
                    </div>
                  </div>
                  <hr>
                  <div class="row mt-2">
                    <div class="col-md-12">
                      <label><b>Thank You Message</b></label>
                    </div>
                  </div>
                  <div class="row mt-2">
                    <div class="col-md-12">
                      <p class="text-muted">Once someone has contributed to your campaign they will receive this thank you message.<p>
                    </div>
                  </div>
                  <div class="row mt-2">
                    <div class="col-md-12">
                      <form>
                        <div class="form-group">
                          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Thank everyone for their help."></textarea>
                        </div>
                      </form>
                    </div>
                  </div>
                  <hr>
                  <div class="row mt-2">
                    <div class="col-md-12">
                      <form class="border bg-light text-dark">
                        <label><b>Invite Friends & Family to Contribue</b></label>
                        <div class="form-group">
                         <input type="text" class="form-control" placeholder="Email">
                        </div>
                        <div class="form-group">
                          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Let everyone know about your campaign and how they can help!"></textarea>
                        </div>
                      </form>
                    </div>
                  </div>
                  <div class="row mt-2">
                    <div class="col-sm-10 switch-txt">
                      <p class="">Display social sharing icons on campaign page</p>
                    </div>
                    <div class="col-sm-2 col-switch">
                      <div class="pg-switch">
                        <label class="switch">
                          <input type="checkbox">
                          <span class="slider round">
                          </span>
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="row mt-2">
                    <div class="col-md-12">
                      <label><b>Privacy Message</b></label>
                    </div>
                  </div>
                  <div class="row mt-2">
                    <div class="col-md-12">
                      <p>We understand that privacy is of utmost important to our community. Therefore, we have implemented three options for security ranging from public campaigns to private.</p>
                    </div>
                  </div>
                  <div class="row mt-2">
                    <div class="col-sm-4 radio-col">
                      <button type="button" class="radio btn btn-primary btn-outline-primary btn-round active" data-toggle="button" aria-pressed="false" autocomplete="off">
                      Totally Public
                      </button>
                    </div>
                    <div class="col-sm-4 radio-col">
                      <button type="button" class="radio btn btn-primary btn-outline-primary btn-round" data-toggle="button" aria-pressed="false" autocomplete="off">
                      Link Required
                      </button>
                    </div>
                    <div class="col-sm-4 radio-col">
                      <button type="button" class="radio btn btn-primary btn-outline-primary btn-round" data-toggle="button" aria-pressed="false" autocomplete="off">
                      Totally Private
                      </button>
                    </div>
                  </div>
                  <div class="row mt-4">
                    <div class="col-md-12">
                      <button type="button" class="btn font-17 btn-default btn-lg btn-block">Launch Campaign</button>
                    </div>
                  </div>
                  <div class="row mt-4">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                      <a href="#" class="string-link" style="padding-left:28%;">Save For Later</a>
                    </div>
                    <div class="col-md-4"></div>
                  </div>
                </div>
                <div class="col-lg-3">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-1">
        </div>
      </div>
    </section>
  </div>
</section>