<section>
  <div class="container">
    <div class="card">
      <div class="card-body">

        <!-- Row -->
        <div class="row">
          <div class="col-lg-4">
            <div class="form-group">
              <label class="form-control-label">Firstname: <span class="tx-danger">*</span></label>
              <input class="form-control" type="text" name="firstname" value="" placeholder="Enter firstname">
            </div>
          </div><!-- col-4 -->
          <div class="col-lg-4">
            <div class="form-group">
              <label class="form-control-label">Lastname: <span class="tx-danger">*</span></label>
              <input class="form-control" type="text" name="lastname" value="" placeholder="Enter lastname">
            </div>
          </div><!-- col-4 -->
          <div class="col-lg-4">
            <div class="form-group">
              <label class="form-control-label">Email address: <span class="tx-danger">*</span></label>
              <input class="form-control" type="text" name="email" value="" placeholder="Enter email address">
            </div>
          </div><!-- col-4 -->
          <div class="col-lg-8">
            <div class="form-group mg-b-10-force">
              <label class="form-control-label">Mail Address: <span class="tx-danger">*</span></label>
              <input class="form-control mb-3" type="text" name="address" placeholder="Enter address">
              <input class="form-control mb-3" type="text" name="address" placeholder="Enter address">
              <input class="form-control mb-3" type="text" name="address" placeholder="Enter address">
              <textarea rows="7" placeholder="Tell your friends and family how they can help" class="form-control w-100"></textarea>
            </div>
          </div><!-- col-8 -->
          <div class="col-lg-4">
            <div class="form-group mg-b-10-force">
              <label class="form-control-label">Country: <span class="tx-danger">*</span></label>
              <select class="form-control select2 select2-hidden-accessible" style="height: 55px;" data-placeholder="Choose country" tabindex="-1" aria-hidden="true">
                <option label="Choose country"></option>
                <option value="USA">United States of America</option>
                <option value="UK">United Kingdom</option>
                <option value="China">China</option>
                <option value="Japan">Japan</option>
              </select>
            </div>
          </div><!-- col-4 -->
        </div>
        <!-- Row -->

      </div>
    </div>
  </div>
</section>
