@import "colors";
@import "buttons";
@import "nav";
@import "forms";

.no-pdg-x {
  padding-right: 0!important;
  padding-left: 0!important;
}

.card {
  border: 1px solid $borderWall;
  border-radius: 0;
}
.white {
  color: #fff;
}
.card-body{
  padding: 28px;
}

.special-brdr{
  height: 3px;
  background-image: linear-gradient(to right, #f16c45, #f7d784 29%, #bdccad 48%, #57bedf 76%, #8e86c1);
}

@media (min-width: 1200px){
  .container {
    max-width: 1240px;
  }
}

/*@mixin font-sizing($size){
    font-size: $size+px;
}

.font-9 {@include font-sizing(9)}
.font-10 {@include font-sizing(10)}
.font-11 {@include font-sizing(11)}
.font-12 {@include font-sizing(12)}
.font-13 {@include font-sizing(13)}
.font-14 {@include font-sizing(14)}
.font-15 {@include font-sizing(15)}
.font-16 {@include font-sizing(16)}
.font-17 {@include font-sizing(17)}
.font-20 {@include font-sizing(20)}*/

/*Font-Sizes-Start*/
$fs-range-start: 9;
$fs-range-end: 26;
@while $fs-range-start < $fs-range-end {
  .font-#{$fs-range-start} {
    font-size: $fs-range-start+px;
  }
  $fs-range-start: $fs-range-start + 1;
}
/*Font-Sizes-End*/

/*Image-Sizes-Start*/
$img-range-start: 10;
$img-range-end: 200;
$img-step: 10;
@while $img-range-start <= $img-range-end {
  .img-#{$img-range-start} {
    max-width: $img-range-start+px;
  }
  $img-range-start: $img-range-start + $img-step;
}
/*Image-Sizes-End*/

/*Margin-Sizes-Start*/
$mpx-range-start: 5;
$mpx-range-end: 200;
$mpx-step: 5;
@while $mpx-range-start <= $mpx-range-end {

  $unit:px;
  $pres-val: $mpx-range-start#{$unit};
  .m-#{$mpx-range-start}-#{$unit}{
    margin: $pres-val;
  }
  .my-#{$mpx-range-start}-#{$unit} {
    margin-top: $pres-val;
    margin-bottom: $pres-val;
  }
  .mx-#{$mpx-range-start}-#{$unit} {
    margin-left: $pres-val;
    margin-right: $pres-val;
  }
  $mpx-range-start: $mpx-range-start + $mpx-step;
}
/*Margin-Sizes-End*/

/*Padding-Sizes-Start*/
$ppx-range-start: 5;
$ppx-range-end: 200;
$ppx-step: 5;
@while $ppx-range-start <= $ppx-range-end {

  $unit:px;
  $pres-val: $ppx-range-start#{$unit};
  .p-#{$ppx-range-start}-#{$unit} {
    padding: $pres-val;
  }
  .py-#{$ppx-range-start}-#{$unit} {
    padding-top: $pres-val;
    padding-bottom: $pres-val;
  }
  .px-#{$ppx-range-start}-#{$unit} {
    padding-left: $pres-val;
    padding-right: $pres-val;
  }
  $ppx-range-start: $ppx-range-start + $ppx-step;
}
/*Padding-Sizes-End*/


.rounded-rect-1{
  width: 315px;
  height: 19px;
  border-radius: 100px;
  background-color: #f9f9fb;
  border: solid 1px #e7eaf2;
}
.rounded-rect-1-inner{
  width: 8px;
  height: 18.8px;
  border-radius: 100px;
  background-color: #00bacb;
}
.primary-bg {
  background-color: $primary;
}

.pg-switch {
  .switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 21px;
  }

  .switch input {display:none;}

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 19px;
    width: 19px;
    left: 4px;
    bottom: 1px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider {
    background-color: $aussieteal;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px $aussieteal;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
}

.blog-item-box {
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  overflow: hidden;
}
