<section class="bg-ghetto-white p-3">
	
	<div class="container my-5">
		
		<div class="row">
			<div class="col-sm-10">
				<h2 class="primary font-weight-bold">My Campaigns</h2>
			</div>
			<div class="col-sm-2">
				<button routerLink="/mycampaigns/add" type="button" class="btn btn-default h-100 add font-14">
					Add Campaign
				</button>
			</div>
		</div>

	</div>
<!--</div>-->

	<div class="row my-3">
		<div class="col-lg-8">
			<div *ngFor="let campaign of (campaigns | flexibleList: fs)" >
				<app-mycamp-brief [campaign]="campaign"></app-mycamp-brief>
			</div>
		</div>

		<div class="col-md-4 switch-filter">
			<div class="card">
				<div class="card-body">
					<div class="row">
						
						<div class="col-md-12">
							<h5 class="mb-4">Filter Campaigns</h5>
						</div>
						
						<!--Switch Item-->
						<div class="col-md-9 mb-2">
							<p class="supagray font-12 text-uppercase">All Campaigns</p>
						</div>
						
						<div class="col-md-3">
							<div class="pg-switch">
								<label class="switch">
									<input type="checkbox" (change)="clearFilters($event)">
									<span class="slider round"></span>
								</label>
							</div>
						</div>
						
						<!--Switch Item-->
						<div class="col-md-9 mb-2">
							<p class="supagray font-12 text-uppercase">Pending Campaigns</p>
						</div>
						
						<div class="col-md-3">
							<div class="pg-switch">
								<label class="switch">
									<input type="checkbox" name="active" value="false" (change)="addFilter($event)" >
									<span class="slider round"></span>
								</label>
							</div>
						</div>
						
						<!--Switch Item-->
						<div class="col-md-9 mb-2">
							<p class="supagray font-12 text-uppercase">Active Campaigns</p>
						</div>
						
						<div class="col-md-3">
							<div class="pg-switch">
								<label class="switch">
									<input type="checkbox" name="active" value="true" (change)="addFilter($event)">
									<span class="slider round"></span>
								</label>
							</div>
						</div>
						
						<!--Switch Item-->
						<div class="col-md-9 mb-2">
							<p class="supagray font-12 text-uppercase">Completed Campaigns</p>
						</div>
						
						<div class="col-md-3">
							<div class="pg-switch">
								<label class="switch">
									<input type="checkbox" name="completed" value="true" (change)="addFilter($event)">
									<span class="slider round"></span>
								</label>
							</div>
						</div>
						
						<!--Switch Item-->
						<div class="col-md-9 mb-2">
							<p class="supagray font-12 text-uppercase">Suspended Campaigns</p>
						</div>
						
						<div class="col-md-3">
							<div class="pg-switch">
								<label class="switch">
									<input type="checkbox"name="suspended" value="true" (change)="addFilter($event)">
									<span class="slider round"></span>
								</label>
							</div>
						</div>
						
						<br>
						<br>
						
					</div>
				</div>
			</div>
		</div>
		
	</div>
</section>