<section class="bg-ghetto-white p-3">
  <div class="container my-5">
    <div class="row">
    <div class="col-md-10">
        <h2 class="primary font-weight-bold">My Campaigns</h2>
    </div>
    <div class="col-md-2">
        <button type="button" class="btn float-right btn-pretty-pink font-14">Add Campaign</button>
    </div>

</div>

<div class="row my-3">
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <div class="row mb-4">
                    <div class="col-md-3">
                        <img src="http://via.placeholder.com/141x141" />
                    </div>
                    <div class="col-md-8">
                        <h4 class="primary">Sara & Jamie Want to Start a Family</h4>
                        <div class="row">
                            <div class="col-sm-9">
                                <small class="text-muted">Created February 07, 2017 – Ends July 23,2017</small>
                            </div>
                            <div class="col-sm-3">
                                <button type="button" class="btn white text-uppercase btn-warning btn-rounded btn-sm">Pending
                                </button>
                            </div>

                        </div>
                        <p>Erant iusto volumus eum eu, ne case veritus accusamus sed, virtute accumsan intellegam usu id. Officiis disputationi est te, quis populo quaeque te eam, omnium suscipit no qui.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="lagoon font-weight-bold">$0
                            <small class="text-muted gunmetal font-20">of $7,000 goal raised</small>
                        </h2>
                    </div>
                    <div class="col-md-7 py-3">
                        <div class="rounded-rect-1"></div>
                    </div>
                    <div class="col-md-2 py-3">
                        <p class="m-0 lagoon font-14">Edit Campaign</p>
                    </div>
                    <div class="col-md-3 py-2">
                        <button type="button" class="btn btn-pretty-pink font-14">Launch Campaign</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <h5 class="mb-4">Filter Campaigns</h5>
                    </div>
                    <!--Switch Item-->
                    <div class="col-md-9 mb-2">
                        <p class="supagray font-12 text-uppercase">All Campaigns</p>
                    </div>
                    <div class="col-md-3">
                        <div class="pg-switch">
                            <label class="switch">
                                <input type="checkbox">
                                <span class="slider round"></span>
                            </label>
                        </div>
                    </div>
                    <!--Switch Item-->
                    <div class="col-md-9 mb-2">
                        <p class="supagray font-12 text-uppercase">Pending Campaigns</p>
                    </div>
                    <div class="col-md-3">
                        <div class="pg-switch">
                            <label class="switch">
                                <input type="checkbox">
                                <span class="slider round"></span>
                            </label>
                        </div>
                    </div>
                    <!--Switch Item-->
                    <div class="col-md-9 mb-2">
                        <p class="supagray font-12 text-uppercase">Active Campaigns</p>
                    </div>
                    <div class="col-md-3">
                        <div class="pg-switch">
                            <label class="switch">
                                <input type="checkbox">
                                <span class="slider round"></span>
                            </label>
                        </div>
                    </div>
                    <!--Switch Item-->
                    <div class="col-md-9 mb-2">
                        <p class="supagray font-12 text-uppercase">Completed Campaigns</p>
                    </div>
                    <div class="col-md-3">
                        <div class="pg-switch">
                            <label class="switch">
                                <input type="checkbox">
                                <span class="slider round"></span>
                            </label>
                        </div>
                    </div>
                    <!--Switch Item-->
                    <div class="col-md-9 mb-2">
                        <p class="supagray font-12 text-uppercase">Suspended Campaigns</p>
                    </div>
                    <div class="col-md-3">
                        <div class="pg-switch">
                            <label class="switch">
                                <input type="checkbox">
                                <span class="slider round"></span>
                            </label>
                        </div>
                    </div>
                    <br>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>
  </div>
</section>
