<section class="bg-ghetto-white p-3">
  <div class="container my-5">
    <div class="row">
    <div class="col-sm-10">
        <h2 class="primary font-weight-bold">My Campaigns</h2>
    </div>
    <div class="col-sm-2">
        <button type="button" class="btn btn-default h-100 add font-14">Add Campaign</button>
    </div>
</div>

    <div class="row mt-3 drop-filter">
      <div class="col-md-12">
        <div class="card h-75">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-10">
                <h5>Filter Campaigns:</h5>
              </div>
              <div class="col-sm-2 float-right mb-5">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="twilight font-weight-bold"><i class="icofont icofont-filter"></i></span>
                </button>
                <div class="dropdown-menu multi-column columns-2" aria-labelledby="dropdownMenuButton">
                  <div class="form-check dropdown-item">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox" value="">
                      Select All
                    </label>
                  </div>
                  <div class="dropdown-divider"></div>
                  <div class="row">
                    <div class="col-sm-6">
                      <div >
                        <div class="form-check dropdown-item">
                          <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="">
                            All Campaigns
                          </label>
                        </div>
                        <div class="form-check dropdown-item">
                          <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="">
                            Pending Campaigns
                          </label>
                        </div>
                        <div class="form-check dropdown-item">
                          <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="">
                            Active Campaigns
                          </label>
                        </div>
                        <div class="form-check dropdown-item">
                          <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="">
                            Completed Campaigns
                          </label>
                        </div>
                      </div>

                        <div class="form-check dropdown-item">
                          <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="">
                            Suspended Campaigns
                          </label>
                        </div>
                     </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<div class="row my-3">
    <div class="col-lg-8">
        <div class="card">
            <div class="card-body">
                <div class="row mb-4">
                    <div class="col-lg-3">
                        <img src="http://via.placeholder.com/141x141" />
                    </div>
                    <div class="col-lg-8  profile-info ml-2">
                        <h4 class="primary font-weight-bold">Sara & Jamie Want to Start a Family</h4>
                        <div class="row">
                            <div class="col-sm-9">
                                <small class="text-muted">Created February 07, 2017 – Ends July 23,2017</small>
                            </div>
                            <div class="col-sm-3">
                                <button type="button" class="btn white text-uppercase btn-warning btn-rounded btn-sm" style="box-shadow: none;">Pending
                                </button>
                            </div>

                        </div>
                        <p>Erant iusto volumus eum eu, ne case veritus accusamus sed, virtute accumsan intellegam usu id. Officiis disputationi est te, quis populo quaeque te eam, omnium suscipit no qui.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="lagoon font-weight-bold">$0
                            <small class="text-muted gunmetal font-20">of $7,000 goal raised</small>
                        </h2>
                    </div>
                    <div class="col-md-5 py-3">
                        <div class="rounded-rect-1 w-100"></div>
                    </div>
                    <div class="col-md-2 py-3">
                        <p class=" lagoon pl-4 font-14">Edit</p>
                    </div>
                    <div class="col-md-4 py-2">
                        <button type="button" class="btn btn-default p-3 font-14">Launch Campaign</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 switch-filter">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <h5 class="mb-4">Filter Campaigns</h5>
                    </div>
                    <!--Switch Item-->
                    <div class="col-md-9 mb-2">
                        <p class="supagray font-12 text-uppercase">All Campaigns</p>
                    </div>
                    <div class="col-md-3">
                        <div class="pg-switch">
                            <label class="switch">
                                <input type="checkbox">
                                <span class="slider round"></span>
                            </label>
                        </div>
                    </div>
                    <!--Switch Item-->
                    <div class="col-md-9 mb-2">
                        <p class="supagray font-12 text-uppercase">Pending Campaigns</p>
                    </div>
                    <div class="col-md-3">
                        <div class="pg-switch">
                            <label class="switch">
                                <input type="checkbox">
                                <span class="slider round"></span>
                            </label>
                        </div>
                    </div>
                    <!--Switch Item-->
                    <div class="col-md-9 mb-2">
                        <p class="supagray font-12 text-uppercase">Active Campaigns</p>
                    </div>
                    <div class="col-md-3">
                        <div class="pg-switch">
                            <label class="switch">
                                <input type="checkbox">
                                <span class="slider round"></span>
                            </label>
                        </div>
                    </div>
                    <!--Switch Item-->
                    <div class="col-md-9 mb-2">
                        <p class="supagray font-12 text-uppercase">Completed Campaigns</p>
                    </div>
                    <div class="col-md-3">
                        <div class="pg-switch">
                            <label class="switch">
                                <input type="checkbox">
                                <span class="slider round"></span>
                            </label>
                        </div>
                    </div>
                    <!--Switch Item-->
                    <div class="col-md-9 mb-2">
                        <p class="supagray font-12 text-uppercase">Suspended Campaigns</p>
                    </div>
                    <div class="col-md-3">
                        <div class="pg-switch">
                            <label class="switch">
                                <input type="checkbox">
                                <span class="slider round"></span>
                            </label>
                        </div>
                    </div>
                    <br>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>
  </div>
</section>
