<section class="bg-ghetto-white p-3">
  <div class="container my-5">
    <section>
      <div class="row my-4">
        <div class="col-lg-3">
        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                  <div class="row">
                  <div class="col-md-1">
                  </div>
                  <div class="col-md-10">
                  <div class="row">
                    <div class="col-md-12">
                      <h2 class="title pl-4 text-center">Log In To Your Account</h2>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <p class="txt-small font-12 text-center">Don’t have an account? <a href="#" class="string-link">Join Now</a></p>
                    </div>
                  </div>
                  <form>
                    <div class="form-group row">
                      <div class="col-md-12">
                        <input type="email" class="form-control" id="inputEmail3" placeholder="Email" >
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="input-group col-md-12">
                        <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
                        <div class="input-group-addon p-3">
                            <i class="icofont icofont-eye-alt"></i>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <button class="btn btn-block btn-warning btn-primary p-2 h-100 font-20">Log In</button>
                      </div>
                    </div>
                    <div>
                        <hr class="hr-text">
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <a href="#fakelink" class="btn btn-facebook btn-block mb-2 h-100 font-18 "><i class="icofont icofont-social-facebook mr-2"></i>Login with Facebook</a>
                      </div>
                    </div>
                    <div class="row mt-2">
                      <div class="col-md-12 text-center">
                        <a href="#" class="string-link">Forgot password?</a>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="col-md-1">
                </div>
              </div>
            </div>
           <div class="col-lg-3">
           </div>
        </div>
      </div>
    </div>
    </section>
  </div>
</section>

