<div style="background-color:  #5e55a4; color: white; padding:16px;">
  <div class="container">
    <h2 class="banner-txt">LGBTQ+ Youth</h2>
 </div>
</div>
<section class="bg-ghetto-white p-3">
  <div class="container my-5">
  <section>
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="card">
          <img class="card-img-top" src="http://via.placeholder.com/730x300" />
          <div class="card-body">


          <div class="row">
            <div class="col-md-12">
              <a class="btn btn-primary btn-sm mb-2 ml-4" style="box-shadow: none" href="#" role="button">LGBTQ+ Youth</a>
            </div>

          <div class="row">
            <div class="col-lg-12 px-5">
              <h1>Suicide Rates for LGBTQ+ Youth</h1>
              <p class=" pb-4">Published on October 27, 2017, by <a href="#" class="string-link">Marlena Penninella</a></p>
              <hr>
              <p class="pt-4">America is what a lot of people would consider a progressive country,   but does it really have the best interests for LGBTQ+ youth? A good portion of LGBTQ+   youth will face some kind of mental disorder: most commonly depression, which can lead  to self harming and even suicide. Is there a reason why LGBTQ+ youth are so depressed,   and is there anything parents and schools can do to help them?</p>

              <p>According to the Trevor Project1, suicide for youth is,“the 2nd leading cause of   death,” and “1 out of 6  students nationwide (grades 9-12) seriously considered   suicide in the past year.” These statistics alone are a problem that schools and  society need to start taking more seriously.</p>

              <p>
                The statistics only increase when you’re LGBTQ+. The Trevor Project1 continues by   stating that LGBTQ+ youth, are “4 times as likely to commit suicide”  than their  heterosexual classmates.
              </p>

              <p>It doesn’t take a Statistics Professor to realize how easy it is for a LGB+  teenagers or young adults  to fall into depression. If you noticed the absence of  the   “T” in LGBTQ+, it’s not because Transgender people experience less depression or have   lower suicide rates. In fact, the Trevor Project1 states that “40% of transgender   adults reported having made a suicide attempt,” and most of these attempts took place   when the adult was younger than 25.</p>

              <p>Now, infuse the idea that a trans person is also a minority, and the statistics  become extremely alarming. The rates multiply according to a Williams Institute  Study2, “Latino and Native American/Pacific Islander LGBTQ+ youth had greater odds of  attempting suicide”.</p>

              <p>Is there something that society can do to help LGBTQ+ youth and lower the rates for  suicide and why are they depressed in the first place? According to the Center for   Disease Control (CDC)3, LBGTQ+ youth need “a positive school climate” to lower suicide  rates for the youngest members of the community. Having safe spaces like, “student-led   and student-organized school clubs that promote a safe, welcoming, and accepting  school environment,” is another thing that the CDC3 recommends to help lower the   suicide rates. However, this can be nearly impossible for many schools that have  socially conservative policies, such as religious private schools and schools in small   towns with low populations of LGBTQ+ members.</p>

              <p>There’s also the No Promo No Homo4 law which restricts schools from talking about  the LGBTQ+ community, “in a positive light – if at all,” along with requiring some   teachers to show LGBTQ+ people in a “negative or inaccurate way.” This makes school   not only an unsafe environment LGBTQ+ youth, but it may be contributing to why there  are so many depressed youth.</p>

              <p>Parental support is also another factor that can make or break LGBTQ+ youths’  mental health. If a child has an accepting parent, they are  less likely to be   depressed. However, the statistic for youth with non-accepting parents are, “8.4 times  as likely to have attempted suicide,” than their heterosexual peers. This makes LGBTQ+   acceptance and education essential for LGBTQ+ youths’ positive mental health and safe   havens at home.</p>

              <p>LGBTQ+ youth suicide rates are a big problem for our society, but if we work to  better our schools and to educate each other, hopefully, in the future, these rates  will significantly diminish.</p>
          </div>
          </div>
            <div class="container">
            <div class="row pt-4">
              <div class="col-sm-1">
                <p>1</p>
              </div>
              <div class="col-sm-10">
                <a href="#" class="string-link">http://www.thetrevorproject.org/pages/facts-about-suicide</a>
              </div>
            </div>
            <div class="row pt-4">
              <div class="col-sm-1">
                <p>2</p>
              </div>
              <div class="col-sm-10">
                <a href="#" class="string-link">https://www.glaad.org/blog/study-finds-some-lgbt-youth-color-more-likely-attempt-suicide</a>
              </div>
            </div>
            <div class="row pt-4">
              <div class="col-sm-1">
                <p>3</p>
              </div>
              <div class="col-sm-10">
                <a href="#" class="string-link">https://www.cdc.gov/lgbthealth/youth.htm</a>
              </div>
            </div>
            <div class="row pt-4">
              <div class="col-sm-1">
                <p>4</p>
              </div>
              <div class="col-sm-10">
                <a href="#" class="string-link">https://www.glsen.org/learn/policy/issues/nopromohomo</a>
              </div>
            </div>
          </div>
         </div>
        </div>
       </div>
      </div>
      <div class="col-md-4">
        <app-author-widget></app-author-widget>
      </div>
    </div>


        <div class="row ml-2">
          <div class="col-md-12">
            <h3 class="mt-5">Recommended Articles</h3>
          </div>

      <!-- </div>
    </div> -->

    <div class="row">
      <div class="col-sm-4">
        <div class="card mx-2 my-2">
          <img src="http://via.placeholder.com/330x140" />
          <div class="card-block">
              <p class="card-text"><small class="text-muted">September 15, 2017</small></p>
              <h5 class="font-weight-bold card-title">LGBTQ+ YOUTH</h5>
              <p class="card-text">Abusive Relationships & LGBTQ+ Youth: Resources</p>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="card mx-2 my-2">
          <img src="http://via.placeholder.com/330x140" />
          <div class="card-block">
              <p class="card-text"><small class="text-muted">September 15, 2017</small></p>
              <h5 class="font-weight-bold card-title">LGBTQ+ YOUTH</h5>
              <p class="card-text">A Nation's Shame: The Epidemic of Homeless LGBTQ Youth </p>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="card mx-2 my-2">
          <img src="http://via.placeholder.com/330x140" />
          <div class="card-block">
              <p class="card-text"><small class="text-muted">September 15, 2017</small></p>
              <h5 class="font-weight-bold card-title">LGBTQ+ YOUTH</h5>
              <p class="card-text">Do you need help right now?  Resources for LGBTQ + Individuals</p>
          </div>
        </div>
      </div>
     </div>
    </div>
  </div>
</section>
  </div>
</section>
