<div class="row my-4">
  <div class="col-lg-6">
  </div>
  <div class="col-lg-3">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-lg-12 mb-4">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for..." aria-label="Search for...">
              <span class="input-group-btn">
                <button class="btn btn-secondary" type="button">Go!</button>
              </span>
            </div>
          </div>
          <div class="mb-2">
            <h4 class="ml-3">Categories</h4>
            <div class="ml-3">
              <a class="btn btn-primary mb-2" href="#" role="button">General</a>
              <a class="btn btn-primary mb-2" href="#" role="button">Love</a>
              <a class="btn btn-primary mb-2" href="#" role="button">Legal</a>
              <a class="btn btn-primary mb-2" href="#" role="button">Idenity</a>
              <a class="btn btn-primary mb-2" href="#" role="button">Transitioning</a>
              <a class="btn btn-primary mb-2" href="#" role="button">LGTQ+ Youth</a>
              <a class="btn btn-primary mb-2" href="#" role="button">Travel</a>
            </div>
          </div>
          <h4 class="ml-3">Featured</h4>
          <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start border-left-0 border-right-0">
              <div class="d-flex w-100 justify-content-between">
                <div class="row">
                  <div class="col-sm-12">
                    <h5 class="mb-1">LGBT+ Youth</h5>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-10">
                  <p class="mb-2">Donec id elit non mi porta gravida at eget metus. Maecenas sed  diam eget risus varius blandit.</p>
                </div>
                  <span class="col-sm-2">></span>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <img src="http://via.placeholder.com/70x70" class="rounded-circle" />
                </div>
                <div class="col-md-9">
                  <p>Maecenas sed diam</p>
                </div>
              </div>
            </a>
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start border-left-0 border-right-0">
              <div class="d-flex w-100 justify-content-between">
                <div class="row">
                  <div class="col-sm-12">
                    <h5 class="mb-1">LGBT+ Youth</h5>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-10">
                  <p class="mb-2">Donec id elit non mi porta gravida at eget metus. Maecenas sed  diam eget risus varius blandit.</p>
                </div>
                  <span class="col-sm-2">></span>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <img src="http://via.placeholder.com/70x70" class="rounded-circle" />
                </div>
                <div class="col-md-9">
                  <p>Maecenas sed diam</p>
                </div>
              </div>
            </a>
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start border-left-0 border-right-0">
              <div class="d-flex w-100 justify-content-between">
                <div class="row">
                  <div class="col-sm-12">
                    <h5 class="mb-1">LGBT+ Youth</h5>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-10">
                  <p class="mb-2">Donec id elit non mi porta gravida at eget metus. Maecenas sed  diam eget risus varius blandit.</p>
                </div>
                  <span class="col-sm-2">></span>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <img src="http://via.placeholder.com/70x70" class="rounded-circle" />
                </div>
                <div class="col-md-9">
                  <p>Maecenas sed diam</p>
                </div>
              </div>
            </a>
          </div>
        </div>
    </div>
  </div>
</div>